<div class="sprintPanel jsSprintPanel">
    <div class="panelBody visible">
        <div class="feed-post-menu-but menuIcon jsPanelMenuIcon popupOpener printPanelMenu"></div>
        <h3><?= $this->t("SPRINTS") ?></h3>
        <div class="container">
            <div class="current"></div>
            <div class="archived">
                <h3><?= $this->t("SPRINTS_ARCHIVED") ?></h3>
            </div>
        </div>
    </div>
    <div class="panel-collapse-ph jsPanelCollapse"></div>
</div>
