<script type="text/ejs" id="tplGridTypeTask">
    <div class="grid-rank-wrapper">
        <div class="grid-task-type <%= taskTypeClass %> jsGridTaskType">
            <div class="taskAddPopup taskTypePopup popup grid-taskType-popup">
                <ul><%
                    var localTaskTypeId;
                    for (i in window.SCRUMBAN.taskTypeSorted) {
                    if (!window.SCRUMBAN.taskTypeSorted.hasOwnProperty(i)) continue;
                    localTaskTypeId = window.SCRUMBAN.taskTypeSorted[i].id;
                    %><li data-task-type="<%= localTaskTypeId %>" class="<%= window.SCRUMBAN.taskType[localTaskTypeId].cssClass %>" title="<%= window.SCRUMBAN.taskType[localTaskTypeId].title %>"><i></i><span><%= window.SCRUMBAN.taskType[localTaskTypeId].title %></span></li><%
                    }
                    %></ul>
            </div>
            <i class="popupOpener"></i>
        </div>
        <div class="task-rank"></div>
        <div class="grid-task-expand jsGridTaskExpand"></div>
    </div>
</script>
