.bx-calendar-layout {position: relative;}

ul.bx-calendar-view-switcher {
	display: block;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	margin-right: 30px !important;
	height: 32px;
}


ul.bx-calendar-view-switcher li {
	line-height: 15px;
	display: block;
	float: right;
	margin: 0px 5px 0px 0px;
}

ul.bx-calendar-view-switcher li.bx-absence-current-view {
	font-weight: bold;
}


ul.bx-calendar-view-switcher li a {
	text-decoration: none; display: block;
}

ul.bx-calendar-view-switcher li a span{
	float: left;
	display: block;
	height: 32px;
	cursor: pointer;
}
ul.bx-calendar-view-switcher li a span.bx-l {
	background: transparent url(images/tabs/tabs_back.gif);
	background-position: -10px 0px;
	width: 4px;
}

ul.bx-calendar-view-switcher li a span.bx-r {
	background: transparent url(images/tabs/tabs_back.gif);
	background-position: -15px 0px;
	width: 4px;
}

ul.bx-calendar-view-switcher li a span.bx-c {
	background: transparent url(images/tabs/tabs_d_bg.gif);
	padding: 0px 50px;
	position: relative;
	line-height: 32px;
	font-size: 13px;
	font-family: Verdana;
	text-align: center;
	color: #71716F;
}

ul.bx-calendar-view-switcher li.bx-absence-current-view a span.bx-l {
	background: transparent url(images/tabs/tabs_back.gif);
	background-position: 0px 0px;
	width: 4px;
}

ul.bx-calendar-view-switcher li.bx-absence-current-view a span.bx-r {
	background: transparent url(images/tabs/tabs_back.gif);
	background-position: -5px 0px;
	width: 4px;
}

ul.bx-calendar-view-switcher li.bx-absence-current-view a span.bx-c {
	background: transparent url(images/tabs/tabs_a_bg.gif);
	color: #000000;
}

.bx-calendar-layout-table {clear: both; border: solid 1px #C9C9C9; width: 100%; border-spacing: 0px;}
.bx-calendar-layout-table thead td {background-color:#F2F8D6; color:#3C3C3C; font-size:14px; height:25px; text-align:center;}
.bx-calendar-layout-table td.bx-table-main {padding: 0px !important; border-collapse: collapse;}

.bx-calendar-layout .bx-absence-calendar {clear: both; border-collapse: collapse; padding: 0px 5px 5px 5px;}
.bx-calendar-layout .bx-absence-calendar table {width: 100%;}

.bx-table-datecontrol {text-align: center;}

div.bx-calendar-color-default {background-image: url(/bitrix/components/bitrix/intranet.absence.calendar/templates/.default/images/calendar_grad_green.gif) !important;}
div.bx-calendar-color-LEAVESICK {background-image: url(/bitrix/components/bitrix/intranet.absence.calendar/templates/.default/images/calendar_grad_orange.gif) !important;}
div.bx-calendar-color-LEAVEMATERINITY {background-image: url(/bitrix/components/bitrix/intranet.absence.calendar/templates/.default/images/calendar_grad_blue.gif) !important;}
div.bx-calendar-color-LEAVEUNPAYED {background-image: url(/bitrix/components/bitrix/intranet.absence.calendar/templates/.default/images/calendar_grad_gray.gif) !important;}
div.bx-calendar-color-OTHER {background-image: url(/bitrix/components/bitrix/intranet.absence.calendar/templates/.default/images/calendar_grad_cyan.gif) !important;}
div.bx-calendar-color-UNKNOWN {background-image: url(/bitrix/components/bitrix/intranet.absence.calendar/templates/.default/images/calendar_grad_red.gif) !important;}
div.bx-calendar-color-VACATION {background-image: url(/bitrix/components/bitrix/intranet.absence.calendar/templates/.default/images/calendar_grad_green.gif) !important;}
div.bx-calendar-color-ASSIGNMENT {background-image: url(/bitrix/components/bitrix/intranet.absence.calendar/templates/.default/images/calendar_grad_margenta.gif) !important;}
div.bx-calendar-color-PERSONAL {background-image: url(/bitrix/components/bitrix/intranet.absence.calendar/templates/.default/images/calendar_grad_gray4.gif) !important;}

.bx-calendar-layout table.bx-calendar-toolbar {margin: 0px 0px 20px 0px; width: 100%; border-collapse:separate; border: solid 1px #C9C9C9; background-color:#F2F8D6; color:#3C3C3C;}
.bx-calendar-layout table.bx-calendar-toolbar td {padding: 6px; white-space: nowrap !important; color: black;}
.bx-calendar-layout table.bx-calendar-toolbar td label, .bx-calendar-layout table.bx-calendar-toolbar td .bx-label {cursor: pointer;}
.bx-calendar-layout table.bx-calendar-toolbar td select {width: 250px;}
.bx-calendar-layout table.bx-calendar-toolbar td.bx-calendar-toolbar-last {width: 100%; text-align: right;}
.bx-calendar-layout table.bx-calendar-toolbar td.bx-calendar-toolbar-delimiter {width: 1px; padding: 0 1px 0 0 !important; background-color: #C9C9C9; border-top: solid 3px #F2F8D6;border-bottom: solid 3px #F2F8D6;}

.bx-calendar-layout table.bx-calendar-toolbar .bx-indicator{height: 12px; width: 12px; background-repeat: no-repeat; line-height: 12px; cursor: pointer;}
.bx-calendar-layout table.bx-calendar-toolbar .bx-indicator-on {background-image: url(/bitrix/components/bitrix/intranet.absence.calendar/templates/.default/images/on.gif);}
.bx-calendar-layout table.bx-calendar-toolbar .bx-indicator-off {background-image: url(/bitrix/components/bitrix/intranet.absence.calendar/templates/.default/images/off.gif);}


div.bx-calendar-filter {width: 250px; border: solid 1px #A9A9A9; background-color: white; position: absolute; z-index: 200; display: none;}
div.bx-calendar-filter div {margin: 1px; height: 17px;  background-repeat: repeat-x; background-position: left top; overflow: hidden; cursor: pointer; -moz-box-sizing: border-box; box-sizing: border-box; text-align: left;}
div.bx-calendar-filter div label{cursor: pointer; display: block; margin-left: 20px;}
div.bx-calendar-filter div input{float: left;}

div.bx-calendar-color-all {height: 20px;}

div.bx-calendar-info {
	background-color: white; position: absolute; border: solid 1px #A4ADB1; text-align: left !important;
}

div.bx-calendar-info .bx-calendar-info-header {
	height: 25px; background-color: #D8E3E8;
}

div.bx-calendar-info .bx-calendar-info-header .bx-calendar-info-close {
	height: 25px; width: 25px; float: right;
	background-image: url(images/close2.gif);
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	cursor: pointer;
}

div.bx-calendar-info .bx-calendar-info-data{
	height: 230px;
	padding: 10px;
	overflow: auto;
}

div.bx-calendar-info .bx-calendar-info-data .bx-calendar-info-data-info {
	font-size: 0.85em;
}
div.bx-calendar-info .bx-calendar-info-data .bx-info-entry {
	height: 17px;
	margin-top: 15px;
	padding-left: 2px;
}

div.bx-calendar-info .bx-calendar-info-data .bx-calendar-info-data-photo{
	float: left;
	margin-right: 2px;
	padding-top: 2px;
	height: 102px;
	width: 104px;
	border: 1px solid #C4C4C4;
	text-align: center;
}

div.bx-calendar-info .bx-calendar-info-data .no-photo{
	background-image: url(/bitrix/components/bitrix/intranet.absence.calendar/templates/.default/images/nopic_user_100_noborder.gif);
	background-position: center center;
	background-repeat: no-repeat;
}

div.bx-calendar-info .bx-calendar-info-data  .bx-calendar-info-data-cont{
	height: 200px; margin: 5px 9px 0px 119px; overflow: hidden;
}

div.bx-calendar-info .bx-calendar-info-data .bx-calendar-info-data-name {
	padding-bottom: 10px;
}

div.bx-calendar-info .bx-calendar-info-data  .bx-calendar-info-data-name a {
	font-size: 1.2em; font-weight: bold;
}

div.bx-calendar-info .bx-calendar-info-data .bx-calendar-info-data-date{
/*	border-top: solid 1px #98B7C5;*/
	padding-top: 15px;
	font-weight: bold;
}

div.bx-calendar-info .bx-calendar-info-admin {clear: both; text-align: center;}
div.bx-calendar-info .bx-calendar-info-admin a {padding-left: 20px; height: 18px; line-height: 18px; background-image: url(images/calendar_btns.gif); background-repeat: no-repeat; display: block; float: right; padding-right: 10px; margin-top: 2px;}

div.bx-calendar-info .bx-calendar-info-admin a.bx-calendar-delete {background-position: left top !important;}
div.bx-calendar-info .bx-calendar-info-admin a.bx-calendar-edit {background-position: 0px -18px !important;}
div.bx-calendar-info .bx-calendar-info-admin a.bx-calendar-personal {background-position: left bottom !important;}


div.bx-calendar-info .bx-calendar-info-footer {
	height: 24px;
	background-color: #D8E3E8;
	text-align: center;
	padding: 8px;
}

div.bx-calendar-info .bx-calendar-info-footer input {height: 24px; padding-bottom: 3px;}

div.bx-filter-title table {border-collapse: collapse !important; margin: 0 !important; padding: 0 !important; border: none !important;}
div.bx-filter-title td {padding:1px !important; font-size:11px !important; border: none !important;}
div.bx-filter-title {font-size:medium !important; background-color:#23468A; background-image:url(images/title_bg.gif); background-repeat:repeat-x; background-position:left top; border-bottom:1px solid #A9A9A9; margin: 0 !important; height: auto !important;}
div.bx-filter-title td.bx-filter-title-text{width:100% !important; font-size:11px !important; font-weight:bold !important; color:#EEF1F7 !important; padding:3px !important; vertical-align:top !important;}
a.bx-filter-close {display:block; width:13px; height:13px; background-image:url(images/close1.gif); overflow:hidden; margin-right:3px; background-repeat:no-repeat; background-position:center;}


/* ================================ absence ================================  */
body .bx-calendar-layout-table{border:0;}
body .bx-calendar-layout-table .bx-table-datecontrol{border-left:1px solid #c2c2c2;border-right:1px solid #c2c2c2;}
body .bx-calendar-layout table.bx-calendar-toolbar{
	border-color:#b6bdbe #c9d1d2 #d6dfe0;
	border-collapse:collapse;
	border-spacing:0;
	-webkit-box-shadow:0 1px 2px #C7D0D2 inset;
	-moz-box-shadow:0 1px 2px #C7D0D2 inset;
	box-shadow:0 1px 2px #C7D0D2 inset;
	background-color:#eaeff0;
}
body .bx-calendar-layout table.bx-calendar-toolbar td,
body .bx-calendar-layout table.bx-calendar-toolbar td.bx-calendar-toolbar-delimiter,
body .bx-calendar-layout table.bx-calendar-toolbar td.bx-calendar-toolbar-last{
	border:0;
	padding:10px;
	vertical-align:middle;
	font:14px/18px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#555;
	background-color:transparent;
}
body .bx-calendar-layout table.bx-calendar-toolbar td.bx-calendar-toolbar-delimiter{background:url(images/bx-calendar-toolbar-td-border.png) no-repeat left center;}
body .bx-calendar-layout table.bx-calendar-toolbar td.bx-calendar-toolbar-last{background:transparent;}
body .bx-calendar-layout table.bx-calendar-toolbar .bx-indicator-off{display:inline-block;background-position:center center;}
body .bx-calendar-layout table.bx-calendar-toolbar select{font:14px/18px "Helvetica Neue",Helvetica,Arial,sans-serif;color:#555;}

body .bx-calendar-layout ul.bx-calendar-view-switcher{top:0 !important;height:27px;}
body .bx-calendar-layout ul.bx-calendar-view-switcher li{height:25px;padding-top:2px;}
body .bx-calendar-layout ul.bx-calendar-view-switcher li a span{
	height:24px;
	font:14px/22px "Helvetica Neue",Helvetica,Arial,sans-serif;
	background:transparent;
}
body .bx-calendar-layout ul.bx-calendar-view-switcher span.bx-l,
body .bx-calendar-layout ul.bx-calendar-view-switcher span.bx-r{display:none;}
body .bx-calendar-layout ul.bx-calendar-view-switcher span.bx-c{
	border:1px solid #c2c2c2;
	border-bottom:0;
	-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;-khtml-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;
	color:#555;
	text-shadow:0 1px 1px #fff;
	background:#fff;
}
body .bx-calendar-layout ul.bx-calendar-view-switcher  li.bx-absence-current-view{padding-top:0;}
body .bx-calendar-layout ul.bx-calendar-view-switcher  li.bx-absence-current-view a span.bx-c{
	position:relative;
	z-index:111;
	height:27px;
	font:bold 14px/24px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#555;
	background:#bce4f2 url(images/bx-current-c.png) repeat-x left top;
}
body .bx-calendar-layout tbody td.bx-table-main{
	border-collapse:separate;
	border:1px solid #c2c2c2;
	border-top:0;
	-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;-khtml-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;
}
body .bx-calendar-layout-table thead td.bx-table-head{
	height:7px;
	border:1px solid #c2c2c2;
	border-bottom:0;
	-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;-khtml-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;
	font-size:1px;
	line-height:1px;
	color:#bce4f2;
	background:#bce4f2;
}
body .bx-calendar-day-main-table td.bx-calendar-day-now,
body .bx-calendar-week-main-table td.bx-calendar-week-today,
body .bx-calendar-month-main-table td.bx-calendar-month-today{background:#e7eef1;}
body .bx-calendar-week-main-table td.bx-calendar-week-holiday,
body .bx-calendar-month-main-table td.bx-calendar-month-holiday{background:#f7f7f7;}

body .bx-calendar-layout table.bx-calendar-month-control-table .bx-calendar-month-change1,
body .bx-calendar-layout table.bx-calendar-month-control-table .bx-calendar-month-change2{display:none;}

body .bx-calendar-layout .bx-absence-calendar{padding:0 7px 7px;}
body .bx-calendar-layout .bx-absence-calendar > br{display:none;}
body .bx-calendar-layout .bx-absence-calendar .bx-month-note{
	display:block;
	border:0;
	margin:0;
	padding:10px 10px 3px;
	color:#a52929;
	background:transparent;
}

/* BML*/
.settings-schedule-button{
	/*background: url("/bitrix/components/bitrix/tasks.list.controls/templates/bitrix24/images/panel/tasks-menu-sprite.png?v=2") no-repeat scroll;*/
	background: url("/bitrix/images/main/clock/clock_iconkit.gif");
	background-position:  0 -95px;
	height: 19px;
	width: 19px;
	cursor: pointer;
	display: inline-block;
	/*margin-left: 15px;*/
	opacity: 0.8;
}

.settings-schedule-button:hover{
	opacity: 1;
}

.settings-button{
	/*position: absolute;*/
	/*top: 14px;*/
	/*right: 5px;*/
	background: rgba(0, 0, 0, 0) url("/bitrix/js/tasks/css/images/task-sprite_8.png?2") no-repeat scroll -24px -1179px;
	height: 20px;
	width: 22px;
	cursor: pointer;
	display: inline-block;
	/*margin-left: 15px;*/
	opacity: 0.8;
	margin-top: 1px;
	/*margin-top: 7px;*/
}

.settings-href-div{
	position: absolute;
	top: 14px;
	right: 41px;
	height: 20px;
	width: 110px;
	cursor: pointer;
	display: inline-block;
}

.settings-button:hover{
	opacity: 1;
}

.bx-calendar-toolbar-last {
	vertical-align: top !important;
}

.settings-wrapper tr td{
	padding: 2px 5px !important;
}

.settings-delimiter{
	position: absolute;
	background: rgba(0, 0, 0, 0) url("/local/templates/bitrix24/components/bitrix/intranet.absence.calendar/.default/images/bx-calendar-toolbar-td-border.png") no-repeat scroll left center;
	top: 14px;
	right: 31px;
	width: 1px;
	height: 20px;
	display: inline-block;
}

#frm-settings{
	display: none;
	margin: 0 auto;
	position: fixed;
	width: 400px;
	height: 260px;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -100px;
	background: #f8fafb none repeat scroll 0 0;
	border-color: #dae4e7 #d8e2e5 #d4dfe2;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 2px 6px 21px rgba(83, 92, 105, 0.15);
	z-index: 400;
}

.frm-settings-header{
	background: linear-gradient(to bottom, #f7f8f8, #e0eaed);
	width: 100%;
	height: 40px;
	position: relative;
}

.frm-settings-close {
	position: absolute;
	right: 10px;
	top: 14px;
	width: 13px;
	height: 13px;
	background: url("/bitrix/js/main/core/css/../images/controls-sprite.png") no-repeat scroll 0 -283px;
}

.frm-settings-close:hover {
	background: rgba(0, 0, 0, 0) url("/bitrix/templates/bitrix24/images/interface/timeman/popup-window-close-icon.png") no-repeat scroll center center;
}

.frm-settings-header-caption{
	position: absolute;
	left: 10px;
	top: 0px;
}

.frm-settings-body{
	padding: 10px 10px;
}

.frm-button-submit{
	border-radius: 2px;
	height: 35px;
	padding: 8px;
	width: 104px;
	font-size: 12px;
	font-family: "OpenSans-Bold",Helvetica,Arial,sans-serif;
	background-color: #bbed21;
	cursor: pointer;
	color: #535c69;
	border: 1px solid #bbed21;
	text-transform: uppercase;
	transition: background-color 0.25s linear 0s;
}

.frm-button-submit:focus, .frm-button-submit:hover{
	background-color: #ceed70;
	color: #535c69 !important;
	text-decoration: none;
	transition: background-color 0.25s linear 0s;
}

.frm-button-cancel{
	color: #d20000;
	font-size: 14px;
	font-family: arial, tahoma;
	border-bottom: 1px solid transparent;
	transition: border-bottom-color 0.25s linear 0s;
	margin-left: 20px;
}

.frm-button-cancel:hover{
	border-bottom: 1px solid #d20000;
	color: #d20000;
	transition: border-bottom-color 0.25s linear 0s;
}

.frm-buttons{
	margin: 40px auto 10px;
	text-align: center;
}

#clearassist:hover{
	background: rgba(0, 0, 0, 0) url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat scroll -17px -282px;
}

#clearassist{
	vertical-align: middle;
	margin-left: 7px;
	background:  rgba(0, 0, 0, 0) url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat scroll 0 -282px;
	height: 14px;
	width: 15px;
	cursor: pointer;
}

#frm-checkboxes{
	padding-top: 20px;
	border-top: 1px solid #aaa;
	margin-top: 8px;
	font-size: 12px;

}

#frm-checkboxes label{
	display: block;
}

#frm-checkboxes p{
	margin: 5px 0 5px;
	font-size: 14px;
}