<div class="boardBorder">
    <div class="allColumnsHiddedMessage"><h4><?= $this->t('YOU_HAVE_HIDDEN_ALL_COLUMNS') ?></h4></div>
    <div class="board jsKanbanBoard"></div>
    <div class="clear"></div>
</div>

<?php echo $this->partial('ejs/column.ejs'); ?>
<?php echo $this->partial('ejs/totalKanban/boardBlock.ejs'); ?>
<?php echo $this->partial('ejs/totalKanban/projects/header.ejs'); ?>
