<? $this->initCss() ?>

<?php $this->headScript()->captureStart(Zend_View_Helper_Placeholder_Container_Abstract::APPEND, 'text/javascript', array('charset'=>'UTF-8')); ?>
    /* BX_DEBUG_INFO */
    var SCRUMBAN = <?= $this->modelOutput($this->jsConstants(), true) ?>;
<?php $this->headScript()->captureEnd() ?>

<?php $this->headScript()->captureStart(Zend_View_Helper_Placeholder_Container_Abstract::APPEND, 'text/javascript', array('charset'=>'UTF-8', 'magic' => false)) ?>
    /* BX_DEBUG_INFO */
    var boardList = <?= $this->modelOutput($this->boardList) ?>;
    var boardSettings = <?= $this->modelOutput($this->board) ?>;
    var baseStaticPath = '<?= SCRUMBAN_PATH_STATIC ?>';
    var daysLeft = <?= ($this->domainTimeLeft === false || !isset($this->domainTimeLeft)) ? 'false' : $this->domainTimeLeft; ?>;
<?php $this->headScript()->captureEnd() ?>

<?php
    $this->initJs();
?>

<?php if (!$this->cache()->start('indexall')): ?>
<div id="kanban" class="withBitrixHeader loading task-sortable totalKanbanBoard">
    <div class="popupContainer"></div>

    <div class="frameHoverOverlay" id="jsFrameHoverOverlay"></div>

    <div class="frameBorder">
        <div class="header">
            <div class="fixer">

                <?= $this->render("_block/alpha.phtml"); ?>

                <div class="right">
                    <div class="fullScreenBlock" title="<?= $this->t('EXPAND_TO_FULL_SCREEN') ?>"><a href="javascript:void(0)" class="fullScreenToggler jsFullScreenToggler"></a></div>

                    <?= $this->partial("_block/profile.phtml", array('currentUser' => $this->board['CURRENT_USER'])); ?>

                    <?= $this->partial("index/menu/settings.phtml") ?>

                    <div class="filterViewMy jsFilterViewMy">
                        <label><input type='checkbox' class='styled'><i></i> <?= $this->t('SHOW_ONLY_MY_TASKS') ?></label>
                    </div>

                    <?= $this->partial("index/menu/type.phtml") ?>
                </div>

                <div class="left">
                    <?= $this->partial("index/menu/projects-sprints.phtml") ?>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="whiteFooter">
                <?= $this->partial("index/copyright.phtml") ?>
                <?/*= $this->partial("index/menu/task-add.phtml") */?>
            </div>
            <div class="hoverArea jsBitrixFooterToggler"></div>
        </div>
        <div class="boardHeader jsKanbanHeader">
            <div class="inner">

            </div>
            <div class="clear"></div>
        </div>

        <div class="boardHeader fakeBoardHeader jsFakeBoardHeader">
            <div class="inner">
            </div>
        </div>

        <div class="leftPadder"></div>
        <div class="rightPadder"></div>

        <div class="panels jsAllPanels">
            <div class="scrollTop scrollTopPanel"></div>
            <?= $this->partial("index/panel/filter.phtml"); ?>
        </div>

    </div>

    <div class="frameInner">

        <?= $this->partial("index/all-board.phtml"); ?>

        <div class="clear"></div>
    </div>

</div>

<div id="ejs">
    <?= $this->partial("ejs/menu/popup-project-selector.ejs"); ?>
    <?= $this->partial("ejs/menu/popup-sprint-selector.ejs"); ?>
    <?= $this->partial("ejs/menu/task-add-popup-types.ejs"); ?>

    <?= $this->partial('ejs/task/card-details.ejs'); ?>
    <?= $this->partial("ejs/board-details.ejs"); ?>

    <?= $this->partial('ejs/column/time-request-popup.ejs'); ?>
    <?= $this->partial('ejs/task.ejs'); ?>
    <?= $this->partial('ejs/alert.ejs'); ?>
    <?= $this->partial('ejs/alert/blocker.ejs'); ?>
    <?= $this->partial('ejs/confirm.ejs'); ?>
    <?= $this->partial("ejs/sprintProgress.ejs"); ?>
    <?= $this->partial("ejs/task/send-on-enter.ejs"); ?>
    <?= $this->partial("ejs/task/select-create-event.ejs"); ?>
    <?= $this->partial("ejs/viewTypeMenu.ejs"); ?>
    <?= $this->partial('ejs/backend.ejs'); ?>
</div>

<?php
    $this->cache()->endCache();
endif;?>
