<? $this->initCss() ?>

<?php $this->headScript()->captureStart(Zend_View_Helper_Placeholder_Container_Abstract::APPEND, 'text/javascript', array('charset'=>'UTF-8')); ?>
    /* BX_DEBUG_INFO */
    var SCRUMBAN = <?= $this->modelOutput($this->jsConstants(), true) ?>;
<? $this->headScript()->captureEnd() ?>

<?php $this->headScript()->captureStart(Zend_View_Helper_Placeholder_Container_Abstract::APPEND, 'text/javascript', array('charset'=>'UTF-8', 'magic' => false)) ?>
    /* BX_DEBUG_INFO */
    var jsonBoard = <?= $this->modelOutput($this->board) ?>;
    <? if (isset($this->archiveTasks)) { ?>var archiveTasks = <?= $this->archiveTasks ?>;<? } ?>
    var projectList = <?= $this->modelOutput($this->projectList) ?>;
    var sprintList  = <?= $this->modelOutput($this->sprintList) ?>;
    var baseStaticPath = '<?= SCRUMBAN_PATH_STATIC ?>';
    var daysLeft = <?= ($this->domainTimeLeft === false || !isset($this->domainTimeLeft)) ? 'false' : $this->domainTimeLeft; ?>;
<?php $this->headScript()->captureEnd() ?>

<?php
    $this->initJs();
?>

<?= $this->render("_block/alpha.phtml"); ?>
<?php if (!$this->cache()->start('index')): ?>
<div id="kanban" class="withBitrixHeader loading task-sortable">
    <div class="popupContainer"></div>

    <div class="frameHoverOverlay" id="jsFrameHoverOverlay"></div>

    <div class="frameBorder">
        <div class="header">
            <div class="fixer">

                <div class="right">
                    <div class="fullScreenBlock" title="<?= $this->t('EXPAND_TO_FULL_SCREEN') ?>"><a href="javascript:void(0)" class="fullScreenToggler jsFullScreenToggler"></a></div>

                    <?= $this->partial("_block/profile.phtml", array('currentUser' => $this->board->CURRENT_USER)); ?>

                    <?= $this->partial("index/menu/settings.phtml") ?>

                    <div class="filterViewMy jsFilterViewMy">
                        <label><input type='checkbox' class='styled'><i></i> <?= $this->t('SHOW_ONLY_MY_TASKS') ?></label>
                    </div>

                    <?= $this->partial("index/menu/type.phtml") ?>
                </div>

                <div class="left">
                    <div class="jsSprintStatus sprintStatus" title="<?= $this->t('DAYS_UNTIL_DEADLINE'); ?>"></div>
                    <?= $this->partial("index/menu/projects-sprints.phtml") ?>
                    <?= $this->partial("index/menu/sprint-time-block.phtml") ?>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="whiteFooter">
                <?= $this->partial("index/copyright.phtml") ?>
                <?= $this->partial("index/menu/task-add.phtml") ?>
            </div>
            <div class="hoverArea jsBitrixFooterToggler"></div>
        </div>
        <div class="boardHeader jsKanbanHeader">
            <div class="inner">

            </div>
            <div class="clear"></div>
        </div>

        <div class="boardHeader fakeBoardHeader jsFakeBoardHeader">
            <div class="inner">
            </div>
        </div>

        <div class="leftPadder"></div>
        <div class="rightPadder"></div>

        <div class="panels jsAllPanels">

            <?= $this->partial("index/panel/backlog.phtml"); ?>

            <div class="scrollTop scrollTopPanel"></div>

            <?= $this->partial("index/panel/archive.phtml"); ?>

            <?= $this->partial("index/panel/filter.phtml"); ?>
        </div>

    </div>

    <div class="frameInner">

        <?= $this->partial("index/index-board.phtml"); ?>

        <div class="clear"></div>
    </div>

</div>

<div id="ejs">
    <?= $this->partial("ejs/menu/popup-project-selector.ejs"); ?>
    <?= $this->partial("ejs/menu/popup-sprint-selector.ejs"); ?>
    <?= $this->partial("ejs/menu/task-add-popup-types.ejs"); ?>

    <?= $this->partial('ejs/task/card-details.ejs'); ?>
    <?= $this->partial("ejs/board-details.ejs"); ?>

    <?= $this->partial('ejs/column/time-request-popup.ejs'); ?>
    <?= $this->partial('ejs/task.ejs'); ?>
    <?= $this->partial('ejs/alert.ejs'); ?>
    <?= $this->partial('ejs/alert/blocker.ejs'); ?>
    <?= $this->partial('ejs/confirm.ejs'); ?>
    <?= $this->partial("ejs/sprintProgress.ejs"); ?>
    <?= $this->partial("ejs/task/send-on-enter.ejs"); ?>
    <?= $this->partial("ejs/task/select-create-event.ejs"); ?>
    <?= $this->partial("ejs/viewTypeMenu.ejs"); ?>
    <?= $this->partial("ejs/stickers.ejs"); ?>
    <?= $this->partial("ejs/saveDemoBoardPopup.ejs"); ?>

    <?= $this->partial('ejs/backend.ejs'); ?>
</div>

<?php
    $this->cache()->endCache();
endif;?>
