<div class="boardBorder">
    <div class="allColumnsHiddedMessage"><h4><?= $this->t('YOU_HAVE_HIDDEN_ALL_COLUMNS') ?></h4></div>
    <div class="board jsKanbanBoard">
        <div class="row task-list">
            <div class="column fake-column"><div style="height: 139px;"></div></div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<?php echo $this->partial('ejs/column.ejs'); ?>