<script type='text/ejs' id='taskDetailsOverlay'>
    <% var i; %>
    <div class="inner">

        <div class="taskSiblings">
            <h3 class="columnHeader"></h3>
            <div class="taskList"></div>
        </div>

        <div class="taskInfo">
            <div class="feed-post-menu-but menuIcon jsMenuIcon popupOpener taskMenu"></div>
            <div class="handle"></div>

            <div class="body">
                <div class="border">
                    <div class="label-add">
                        <div class="popup"></div>
                        <div class="add popupOpener" title="<?= $this->t('ADD_MARKER') ?>"></div>
                    </div>
                    <div class="labels"></div>

                    <div class="properties">
                        <div class="line">
                            <div class="taskType">
                                <div class="taskAddPopup taskTypePopup popup">
                                    <ul><%
                                        var localTaskTypeId;
                                        for (i in window.SCRUMBAN.taskTypeSorted) {
                                            if (!window.SCRUMBAN.taskTypeSorted.hasOwnProperty(i)) continue;
                                            localTaskTypeId = window.SCRUMBAN.taskTypeSorted[i].id;
                                            %><li data-task-type="<%= localTaskTypeId %>" class="<%= window.SCRUMBAN.taskType[localTaskTypeId].cssClass %>" title="<%= window.SCRUMBAN.taskType[localTaskTypeId].title %>"><i></i><span><%= window.SCRUMBAN.taskType[localTaskTypeId].title %></span></li><%
                                        }
                                    %></ul>
                                </div>
                                <i class="popupOpener" title="<%= window.SCRUMBAN.taskType[taskTypeId].title %>">&nbsp; <%= window.SCRUMBAN.taskType[taskTypeId].title %>: </i><span class="popupOpener task-code"><%= id %></span>
                                <span class='createdDate' title='<?= $this->t("CREATED_DATE"); ?>'><%= createdDate %></span>
                            </div>
                            <div class="taskTitle"><%= realTitle ? htmlspecialchars(realTitle) : title %></div>
                        </div>

                        <div class="line priority">
                            <div class="title" title="<?= $this->t('PRIORITY_TIP') ?>"><?= $this->t('PRIORITY') ?>:</div>
                            <div class="value">
                                <i></i>

                                <div class="popup">
                                    <ul>
                                        <% for (i=0; window.SCRUMBAN.priority.length>i; i++) { %>
                                        <li data-priority="<%= window.SCRUMBAN.priority[i].id %>">
                                            <i class="priority <%= window.SCRUMBAN.priority[i].cssClass %>"></i>
                                            <span><%= window.SCRUMBAN.priority[i].title %></span>
                                        </li>
                                        <% } %>
                                    </ul>
                                </div>
                                <span class="popupOpener"><%= window.SCRUMBAN.priority[priority].title %></span>
                            </div>
                        </div>

                        <div class="line status">
                            <div class="title"><?= $this->t('STATUS') ?>:</div>
                            <div class="value">
                                <i class="<%= window.SCRUMBAN.taskStatus[status].cssClass %>"></i>

                                <div class="popup">
                                    <ul>
                                        <% for (i in window.SCRUMBAN.taskStatus) { %>
                                        <li data-status="<%= i %>"><i class="<%= window.SCRUMBAN.taskStatus[i].cssClass %>"></i><span><%= window.SCRUMBAN.taskStatus[i].title %></span></li>
                                        <% } %>
                                    </ul>
                                </div>

                                <span class="popupOpener"><%= window.SCRUMBAN.taskStatus[status].title %></span>
                            </div>
                        </div>

                        <div class="line jsDoneControl">
                            <div class="value">
                                <label><input type="checkbox" <% if (this.taskControl == 'Y') { %>checked<% } %> /> <?= $this->t('CHECK_AFTER_FINISHED'); ?></label>
                            </div>
                        </div>

                        <% if (window.SCRUMBAN.isFeatureEnabled('task.timer') && this.allowTimeTracking) { %>
                        <div class="line elapsedTimer jsTaskTimer">
                            <div class="title"><?= $this->t('TIME') ?>:</div>
                            <div class="value">
                                <label><input type="checkbox" <% if (this.allowTimeTracking == 'Y') { %>checked<% } %> /> <?= $this->t('ALLOW_TIME_TRACKING'); ?></label>
                                <div class="timer-wrapper jsTimerWrapper <% if (this.allowTimeTracking == 'N') { %>hidden<% } %>"><i class="miniblock timer  <% if (this.timer) { %>active<% } %>" title="<?= $this->t('TIME_ESTIMATE'); ?>">
                                <b></b><span class="jsTimerValue"><% if (this.timer) {
                                        %><%= Date.timerFormat(Math.round((new Date()).valueOf() / 1000) - parseInt(timer.timerStartedAt, 10) + parseInt(elapsedTimeSeconds, 10)) %>
                                    <% } else {
                                        %><%= Date.timerFormat(elapsedTimeSeconds) %>
                                    <% } %>
                                    </span>
                                </i></div>
                            </div>
                        </div>
                        <% } %>

                        <div class="line deadline">
                            <div class="title" title="<?= $this->t('DEADLINE_TIP') ?>"><?= $this->t('DEADLINE') ?>:</div>                            <div class="value"><i></i><span class="dateSelectorOpener"></span></div>
                        </div>

                        <% if (window.SCRUMBAN.isFeatureEnabled('task.timeControl')) { %>
                        <div class="line jsTimePlanned timePlanned">
                            <div class="title"><?= $this->t('PLAN') ?>:</div>
                            <div class="value"><i></i><span><%= Date.toPlanFormat(durationPlanMinuts) %></span></div>
                            <!--input type="checkbox" <% if (dayPlanning) { %>checked="checked" <% } %> class="styled" style="visibility: visible; position: relative; float: right; margin-top: 9px;"-->
                        </div>

                        <div class="line timeUsed jsTimeUsed">
                            <div class="title"><?= $this->t('SPENT') ?>:</div>
                            <div class="value"><i></i><span><% if (elapsedTime) { %><%= Date.toPlanFormat(elapsedTime) %><% } else { %>0h<% } %></span></div>
                        </div>
                        <% } %>

                        <div class="line responsibles">
                            <div class="title"><?= $this->t('RESPONSIBLE') ?>:</div>
                            <div class="value"></div>
                        </div>
                    </div>

                </div>
                <div class="problem"><i class="startEdit"><?= $this->t('PROBLEM_IN_TASK') ?>: </i><!-- fuckup text --></div>
            </div>
        </div>

        <div class="taskDetails">
            <div class="closePopup"></div>
            <div class="anchors"></div>
            <div class="handle"></div>
            <div class="body"><?/* Here added rendered ejs templates */?></div>
        </div>
    </div>
</script>
