<script type="text/ejs" id="tplMultitaskView">
    <div class="multitaskHeader">
        <div class="feed-post-menu-but menuIcon jsMenuIcon popupOpener"></div>
        <div class="btnCollapseExpand jsHideSubTasks" title="<?= $this->t('COLLAPSE_SUBTASKS') ?>"></div>
        <div class="icon <%= window.SCRUMBAN.taskType[taskTypeId].cssClass %>"></div>
        <div class="title" title="<%== htmlspecialchars(realTitle? htmlspecialchars(realTitle) : title) %>">
            <span class="jsDescr"><%= code ? code + "-" : "" %><%= id %>: <%= realTitle? htmlspecialchars(realTitle) : title %></span>
        </div>
        <% if (!model.archived) { %>
        <div class="icons jsIcons">
            <i class="mini-status miniblock <%= String._('class-status-' + model.status) %>"><b></b><%= String._('title-status-' + model.status) %></i>
            <% if ((timeVars.timeUsed > 0) || (timeVars.timePlan > 0) && (window.SCRUMBAN.isFeatureEnabled('task.timeControl'))) {
                %><i title="<%= $.String.sub(String._("STAT_BLOCK"), {'used': Date.toPlanFormat(timeVars.timeUsed), 'plan': Date.toPlanFormat(timeVars.timePlan)}) %>" class="miniblock hours <%= ((timeVars.timePlan < timeVars.timeUsed) ? 'overtime' : '') %>"><b></b><%= Date.toPlanFormat(timeVars.timeUsed) + "/" + Date.toPlanFormat(timeVars.timePlan) %></i><%
            }

            if (model.startDatePlan) {
                var date = Date.fromPhp(model.startDatePlan);
                if (date) {
                    %><i class="miniblock created" title="<?= $this->t('DATE_BEGIN') ?>"><b></b><%= (new Date(date)).format("d mmm, HH:MM") %></i><%
                }
            }

            if (model.deadline) {
                date = Date.fromPhp(model.deadline);
                if (date) {
                    date = new Date(date);
                    %><i class="miniblock deadline <%= (date < (new Date())) ? 'now' : ''%>" title="<?= $this->t('DATE_DEADLINE') ?>"><b></b><%= date.format("d mmm, HH:MM").replace(", 00:00", "") %></i><%
                }
            }

            if (parseInt(model.commentsCount, 10) > 0) {
                %><i class="miniblock comments" title="<?= $this->t('COMMENTS_COUNT') ?>"><b></b><%= model.commentsCount %></i><%
            }

            if (model.dayPlanning) {
                %><i class="miniblock toplan" title="<?= $this->t('ON_DAY_PLAN') ?>"><b></b></i><%
            }

            if (model.files && model.files.length) {
                %><i class="miniblock files" title="<?= $this->t('ATTACHMENTS_COUNT'); ?>"><b></b><%= model.files.length %></i><%
            }

            if (model.allowTimeTracking == 'Y') {
                %><i class="miniblock timer jsTaskTimer <% if (model.timer) { %>active<% } %>" title="<?= $this->t('TIME_ESTIMATE'); ?>">
                    <b></b><span class="jsTimerValue"><% if (model.timer) {
                        %><%= Date.timerFormat(Math.round((new Date()).valueOf() / 1000) - parseInt(model.timer.timerStartedAt, 10) + parseInt(model.elapsedTimeSeconds, 10)) %>
                    <% } else {
                        %><%= Date.timerFormat(model.elapsedTimeSeconds) %>
                    <% } %>
                    </span>
                </i><%
            }

            if (model.tags) {
                for (i = 0; i<model.tags.length && i < 5; i++) {
                    %><span class='tag'><span><%= model.tags[i] %></span></span><%
                }

                if (i < model.tags.length) {
                    var overUse = model.tags.length - i;
                    %><b><?= $this->t('AND_MORE_TAGS') ?><%= overUse %><%= String.ruHelper.declension(overUse, [String._('AND_MORE_TAGS_1'), String._('AND_MORE_TAGS_2'), String._('AND_MORE_TAGS_5')]) %></b><%
                }
            }
            %>
        </div>
        <% } %>
    </div>
</script>
