<? $this->initCss() ?>

<?php $this->headScript()->captureStart(Zend_View_Helper_Placeholder_Container_Abstract::APPEND, 'text/javascript', array('charset'=>'UTF-8')); ?>
    /* BX_DEBUG_INFO */
    var SCRUMBAN = <?= $this->modelOutput($this->jsConstants(), true) ?>;
<?php $this->headScript()->captureEnd() ?>

<?php $this->headScript()->captureStart(Zend_View_Helper_Placeholder_Container_Abstract::APPEND, 'text/javascript', array('charset'=>'UTF-8', 'magic' => false)) ?>
/* BX_DEBUG_INFO */
var jsonBoard = <?= $this->modelOutput($this->board) ?>;
var baseStaticPath = '<?= SCRUMBAN_PATH_STATIC ?>';
var daysLeft = <?= ($this->domainTimeLeft === false || !isset($this->domainTimeLeft)) ? 'false' : $this->domainTimeLeft; ?>;
<?php $this->headScript()->captureEnd() ?>

<?php
$this->initJs();
?>
<?php if (!$this->cache()->start('leads')): ?>
    <div id="kanban" class="withBitrixHeader loading leadBoard">
        <div class="popupContainer"></div>

        <div class="frameHoverOverlay" id="jsFrameHoverOverlay"></div>

        <div class="frameBorder">
            <div class="header">
                <div class="fixer">

                    <?= $this->render("_block/alpha.phtml"); ?>

                    <div class="right">
                        <div class="fullScreenBlock" title="<?= $this->t('EXPAND_TO_FULL_SCREEN') ?>"><a href="javascript:void(0)" class="fullScreenToggler jsFullScreenToggler"></a></div>
                        <?= $this->partial("_block/profile.phtml", array('currentUser' => $this->board['CURRENT_USER'])); ?>
                        <?= $this->partial("index/menu/type.phtml") ?>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="whiteFooter">
                    <?= $this->partial("index/copyright.phtml") ?>
                </div>
                <div class="hoverArea jsBitrixFooterToggler"></div>
            </div>
            <div class="boardHeader jsKanbanHeader">
                <div class="inner">

                </div>
                <div class="clear"></div>
            </div>

            <div class="boardHeader fakeBoardHeader jsFakeBoardHeader">
                <div class="inner">
                </div>
            </div>

            <div class="leftPadder"></div>
            <div class="rightPadder"></div>
        </div>

        <div class="frameInner">

            <?= $this->partial("index/index-board.phtml"); ?>

            <div class="clear"></div>
        </div>
    </div>

    <div id="ejs">
        <?= $this->partial('ejs/leads/column.ejs'); ?>
        <?= $this->partial('ejs/leads/lead.ejs'); ?>
        <?= $this->partial('ejs/leads/confirm.ejs'); ?>
        <?= $this->partial('ejs/task/send-on-enter.ejs'); ?>
        <?= $this->partial("ejs/task/select-create-event.ejs"); ?>
        <?= $this->partial('ejs/alert.ejs'); ?>
        <?= $this->partial('ejs/alert/blocker.ejs'); ?>
        <?= $this->partial('ejs/confirm.ejs'); ?>
        <?= $this->partial('ejs/backend.ejs'); ?>
        <?= $this->partial("ejs/viewTypeMenu.ejs"); ?>
    </div>

    <?php
    $this->cache()->endCache();
endif;?>
