<script type='text/ejs' id='taskDetailEditBlockProps'>
    <div class="block taskParams">
        <div class="header"><div class="inner"><i></i><h3><?= $this->t('TASK_PARAMS') ?><a href="javascript:void(0)" class="hide" data-hide-text="<?= $this->t('HIDE'); ?>"></a></h3></div></div>
        <div class="content">
            <div class="properties">

                <div class="line priority">
                    <div class="title" title="<?= $this->t('PRIORITY_TIP') ?>"><?= $this->t('PRIORITY') ?>:</div>
                    <div class="value">
                        <i></i>

                        <div class="popup">
                            <ul>
                                <% for (i=0; i<window.SCRUMBAN.priority.length; i++) { %>
                                <li data-priority="<%= window.SCRUMBAN.priority[i].id %>">
                                    <i class="priority <%= window.SCRUMBAN.priority[i].cssClass %>"></i>
                                    <span><%= window.SCRUMBAN.priority[i].title %></span>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                        <span class="popupOpener"><%= window.SCRUMBAN.priority[priority].title %></span>
                    </div>
                </div>

                <div class="line status">
                    <div class="title"><?= $this->t('STATUS') ?>:</div>
                    <div class="value">
                        <i class="<%= window.SCRUMBAN.taskStatus[status].cssClass %>"></i>
                        <span><%= window.SCRUMBAN.taskStatus[status].title %></span>
                    </div>
                </div>

                <div class="line deadline">
                    <div class="title" title="<?= $this->t('DEADLINE_TIP') ?>"><?= $this->t('DEADLINE') ?>:</div>
                    <div class="value"><i></i><span class="dateSelectorOpener"></span></div>
                </div>

                <div class="line jsDoneControl">
                    <div class="value">
                        <label><input type="checkbox" <% if (this.taskControl == 'Y') { %>checked<% } %> /> <?= $this->t('CHECK_AFTER_FINISHED'); ?></label>
                    </div>
                </div>

                <% if (window.SCRUMBAN.isFeatureEnabled('task.timer') && this.allowTimeTracking) { %>
                <div class="line elapsedTimer jsTaskTimer">
                    <div class="title"><?= $this->t('TIME') ?>:</div>
                    <div class="value">
                        <label><input type="checkbox" <% if (this.allowTimeTracking == 'Y') { %>checked<% } %> /> <?= $this->t('ALLOW_TIME_TRACKING'); ?></label>
                    </div>
                </div>
                <% } %>

                <% if (window.SCRUMBAN.isFeatureEnabled('task.timeControl')) { %>
                <div class="line jsTimePlanned timePlanned">
                    <div class="title"><?= $this->t('PLAN') ?>:</div>
                    <div class="value"><i></i><span><%= Date.toPlanFormat(durationPlanMinuts) %></span></div>
                </div>

                <div class="line timeUsed">
                    <div class="title"><?= $this->t('SPENT') ?>:</div>
                    <div class="value"><i></i><span><% if (elapsedTime) { %><%= Date.toPlanFormat(elapsedTime) %><% } else { %>0h<% } %></span></div>
                </div>
                <% } %>
            </div>

            <div class="responsibles"></div>
        </div>
    </div>
</script>
