.form-element { display: block; padding-bottom: 5px;}
.form-element label {vertical-align: top; width: 180px; display:inline-block;}
.filter { background-color: #F5F5F5; border: 1px ridge #000000; padding: 10px 5px; width: 600px;}
.result { padding: 10px 0; }
.error { padding: 10px 0; color: red; }
table { border-collapse: collapse; }
.table-result td { border: 1px solid #AAAAAA; padding: 1px 5px; font-size: 12px; text-align: left;}
.table-result th { border: 1px solid #000000; padding: 1px 5px; font-weight: bold; font-size: 12px; background-color: #C0C0C0; text-align: center}
.table-result tr:hover { background-color: #C5C5C5; }
