<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="<?=$this->baseUrl();?>" />

    <?php echo $this->headMeta(); ?>
    <?php echo $this->headTitle(); ?>    
    <?php echo $this->headLink(); ?>
    <?php echo $this->headStyle(); ?>
    <?php echo $this->headScript(); ?>
</head>
<body>
    <div id="document">
        <div id="header">
            <div class="topmenu"></div>
        </div>

        <div id="middle">
            <?= $this->getMessages(); ?>
            <div class="content"><?= $this->layout()->content; ?></div>
        </div>

        <div id="hFooter"></div>
    </div>
    
    <div id="footer">
        <div class="meters"></div>
        <div class="clear"></div>
    </div>
</body>
</html>