.searchLead .searchQuery, .searchLead .fio {	padding:3px 5px;}

.searchLead .searchSubmit {	padding:3px 7px;}

.searchLead .searchByEmail.good {
	background:#9CFEC6;
}

.searchLead .searchByEmail.bad {
	background:#FA5A56;
	color:#fff;
}

.searchLead .preloader {
	width:36px;
	height:36px;
	background:url('images/preloader.gif') no-repeat;
	display:none;
}

.searchLead .ajax-load table {	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;}

.searchLead .ajax-load table td {	border-left:1px solid #ccc;
	border-top:1px solid #ccc;
	padding:3px 5px;}




.searchLead .searchByFio {	display:none;}