.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.report-params{
    /*height: 30px;*/
    box-sizing: border-box;
    background-color: #eaeff0;
    width: 100%;
    border-color: #b6bdbe #c9d1d2 #d6dfe0;
    box-shadow: 0 1px 2px #c7d0d2 inset;
    padding: 10px;
}

.report-params p{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-right: 5px;
}

#date_start, #date_end{
    width: 80px;
}

.generate-href{
    display: inline-block;
    border-radius: 5px;
    height: 28px;
    background: rgba(0, 0, 0, 0) url("images/buttons-sprite.png") repeat-x scroll 0 -34px;
    color: #fff;
    text-shadow: 0 -1px 0 #688b09;
    font: 13px/26px "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 10px;
    margin-left: 20px;
}

.generate-href:hover{
    background: rgba(0, 0, 0, 0) url("images/buttons-sprite.png") repeat-x scroll 0 -64px;
    color: #fff;
    text-shadow: 0 -1px 0 #688b09;
}

.no-data{
    font: 13px/26px "Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-style: italic;*/
    color: red;
    margin-left: 10px;
}

.report-table{
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
}

.report-table tr td{
    border: 1px solid #aaa;
    padding: 3px 4px;
}

.report-table-th{
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 12px;*/
    /*background-color: #ccc;*/
    text-align: center;
    border: 1px solid #aaa;
    padding: 1px 4px;
    background: linear-gradient(to bottom, #d4edf7, #b5e1f1);
    color: #41474f;
    text-shadow: 0 1px #fff;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}

.report-table-th.sorting_asc, .report-table-th.sorting_desc{
    background: linear-gradient(to bottom, #c2e6f4, #6bcef2);
}

.report-table-td{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    border: 1px solid #aaa;
    padding: 3px 4px;
}

.report-table-th{
    height: 89px;
}

.vertcol{
    transform: rotate(-90deg);
    display: inline-block;
    width: 5px;
    margin-top: 62px;
    margin-bottom: -7px;
}

.centercol{
    text-align: center;
}

.report-table-th.col-1{
    width: 25%
}

.report-table-th.col-2{
    width: 20%
}

.report-table-th.col-3{
    width: 20%
}

.report-table-th.col-4{
    width: 10%;
}

.report-table-th.col-5{
    width: 25%
}

.report-table-td.col-4{
    text-align: right;
}

#department-filter-div select{
    width: 200px;
}

.bx-user-info-anchor tr td{
    border: none !important;
}

.bx-user-info-online-cell{
    display: none !important;
}

.dataTables_paginate{
    margin-top: 10px;
}

.paginate_button {
    padding: 4px 8px 3px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 13px;
    border: 0px none #fff;
    cursor: pointer;
    margin-right: 2px;
}

.paginate_button:hover{
    background-color: #eaf0f1;
    border-color: #dbe2e4 #cbd2d4 #adb4b5;
    color: #1a90c7 !important;
    box-shadow: 0 0 1px #fff inset;
}

.paginate_button.current, .paginate_button.current:hover{
    background-color: #ccdade;
    border-color: #a9b4b8 #bac7cb #c6d4d8;
    box-shadow: 0 1px 1px #bbc5c9 inset;
    color: #2067b0 !important;
}

.dataTables_filter{
    /*height: 30px;*/
    box-sizing: border-box;
    background-color: #eaeff0;
    width: 100%;
    border-left: 1px solid #c9d1d2;
    border-right: 1px solid #c9d1d2;
    border-bottom: 1px solid #d6dfe0;
    box-shadow: 0 1px -2px #c7d0d2 inset;
    padding: 5px;
    padding-bottom: 10px;
    margin-top: -1px;
}

.dataTables_filter label{
    margin-left: 79px;
}

.dataTables_filter label input{
    margin-left: 4px;
    width: 214px;
}

.report-table tbody tr.odd td{
    background-color: #e2eef3;
}

