#company-search_search_results {
	border: 1px solid #AAAAAA;
    border-radius: 4px 4px 4px 4px;
    color: #222222;
    font-family: Arial,sans-serif;
    font-size: 12px;
    list-style: none outside none;
    margin: 0;
    padding: 2px 5px;
    width: 170px;
	position: absolute;
	background-color: #FFFFFF;
}

#company-search_search_results li {
	margin: 5px 0;
	border-top: 1px solid #E8E8E8;
}

#company-search_search_results li.first {
	border-top: none;
}

#company-search_search_results li a {
	text-decoration: none;
	display: block;
	padding: 5px 2px 0 2px;
	line-height: 1.5;
	color: #222222;
	outline: none;
}

#company-search_search_results li a:hover {
	text-decoration: underline;
	color: #e00000;
}

.colortext {
    color: #bbb;
   }