.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.schedule-data-table{
    /*background-color: #000;*/
    width: 100%;
    border-collapse: collapse;
    border-left: 1px solid #aaa;
}

.weekday-header{
    text-align: center !important;
    width: 80px;
}

.salto-header{
    width: 70px;
}

.edit-item-icon{
    background: transparent url("/bitrix/js/tasks/css/images/task-sprite_8.png?2") no-repeat scroll -43px -291px;
    font-size: 9px;
    padding-left: 22px;
    height: 30px;
}

.delete-item-icon{
    background: transparent url("/bitrix/js/tasks/css/images/task-sprite_8.png?2") no-repeat scroll -44px -535px;
    font-size: 9px;
    padding-left: 22px;
    /*height: 30px;*/
}

.schedule-data-table tr th{
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #d4edf7, #b5e1f1) repeat scroll 0 0;
    color: #41474f;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    text-align: center;
    text-shadow: 0 1px #fff;
    font-weight: normal;
    padding: 8px;
    border: 1px solid #aaa;
}

.schedule-data-table tr td{
    padding: 3px 8px;
    border: 1px solid #aaa;
    vertical-align: middle !important;
}

.schedule-data-table tr.even td{
    background-color: #e2eef3;
}


.schedule-data-table tr td a{
    display: block;
    height: 18px;
    padding-top: 1px;
}

.weekday_time, .salto-column{
    text-align: center;
    font-size: 12px;
}

.weekday_user{
    text-align: left;
    font-size: 12px;
}

.bx-user-info-online-cell{
 display: none;
}

.empty_id a, .empty_id a:hover{
    color: #777;
}

.bx-user-info-name:hover{
    text-decoration: underline;
}

#frm-edit{
    display: none;
    margin: 0 auto;
    position: fixed;
    width: 356px;
    height: 565px;
    top: 50%;
    left: 50%;
    margin-left: -178px;
    margin-top: -265px;
    background: #f8fafb none repeat scroll 0 0;
    border-color: #dae4e7 #d8e2e5 #d4dfe2;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 6px 21px rgba(83, 92, 105, 0.15);
    z-index: 400;
}

.frm-edit-header{
    background: linear-gradient(to bottom, #f7f8f8, #e0eaed);
    width: 100%;
    height: 40px;
    position: relative;
}

.frm-edit-close {
    position: absolute;
    right: 10px;
    top: 14px;
    width: 13px;
    height: 13px;
    background: url("/bitrix/js/main/core/css/../images/controls-sprite.png") no-repeat scroll 0 -283px;
}

.frm-edit-close:hover {
    background: rgba(0, 0, 0, 0) url("/bitrix/templates/bitrix24/images/interface/timeman/popup-window-close-icon.png") no-repeat scroll center center;
}

.frm-edit-header-caption{
    position: absolute;
    left: 10px;
    top: 0px;
}

.frm-edit-body{
    padding: 10px 10px;
}

.frm-button-submit{
    border-radius: 2px;
    height: 35px;
    padding: 8px;
    width: 104px;
    font-size: 12px;
    font-family: "OpenSans-Bold",Helvetica,Arial,sans-serif;
    background-color: #bbed21;
    cursor: pointer;
    color: #535c69;
    border: 1px solid #bbed21;
    text-transform: uppercase;
    transition: background-color 0.25s linear 0s;
}

.frm-button-submit:focus, .frm-button-submit:hover{
    background-color: #ceed70;
    color: #535c69 !important;
    text-decoration: none;
    transition: background-color 0.25s linear 0s;
}

.frm-button-cancel{
    color: #d20000;
    font-size: 14px;
    font-family: arial, tahoma;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.25s linear 0s;
    margin-left: 20px;
}

.frm-button-cancel:hover{
    border-bottom: 1px solid #d20000;
    color: #d20000;
    transition: border-bottom-color 0.25s linear 0s;
}

.frm-buttons{
    margin: 100px auto 10px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

#User{
    margin: 0 0 5px;
    font-weight: bold;
}

.table-shcedule tr td, .table-shcedule tr th{
    padding: 4px 0;
    font-size: 12px;
}

.table-shcedule tr td{
    border-bottom: 1px solid #eee;
}

.table-buttons{
    margin-top: 20px;
}

.bx-clock-div{
    z-index: 402 !important;
}

.table-params{
    /*height: 30px;*/
    box-sizing: border-box;
    background-color: #eaeff0;
    width: 100%;
    border-color: #b6bdbe #c9d1d2 #d6dfe0;
    box-shadow: 0 1px 2px #c7d0d2 inset;
    padding: 10px;
    margin-bottom: 15px;
}

.table-params p{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-right: 5px;
}

#department-filter-div select{
    width: 200px;
}

.generate-href{
    display: inline-block;
    border-radius: 5px;
    height: 28px;
    background: rgba(0, 0, 0, 0) url("images/buttons-sprite.png") repeat-x scroll 0 -34px;
    color: #fff;
    text-shadow: 0 -1px 0 #688b09;
    font: 13px/26px "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 10px;
    margin-left: 20px;
}

.generate-href:hover{
    background: rgba(0, 0, 0, 0) url("images/buttons-sprite.png") repeat-x scroll 0 -64px;
    color: #fff;
    text-shadow: 0 -1px 0 #688b09;
}

.bottom-layer{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    display: none;
    z-index: 399;
    position: fixed;
    top: 0;
    left: 0;
}

#salto-result-div{
    width: 220px;
    height: 100px;
    position: fixed;
    display: none;
    background-color: #f8fafb;
    border-radius: 4px;
    border: 1px solid #dae4e7;
    padding: 7px;
    z-index: 399;
}

#saltoid_table{
    font-size: 12px;
    border: none;
    border-collapse: collapse;
    width: 100%;
}

#saltoid_table tr td{
    padding: 2px 4px;
    border-bottom: 1px solid #dae4e7;
}

.saltoref{
    color: #2067b0;
    text-decoration: none;
    cursor: pointer;
}

.saltoref:hover{
    text-decoration: underline;
}