<script type="text/ejs" id="tplGridTask">
    <div class="gridTask jsGridTask">
        <span class="lineTitle <% if (!$.htmlspecialchars(description).length) { %>single<% } %>"><%= $.htmlspecialchars(title) %></span>
        <% if (code) { %>
        <span class="lineCode"><%= code %></span>
        <% } %>
        <div class="clear"></div>
        <span class="lineDescr"><%= $.stripTags(description).replace(/\n/g, " ") %></span>
    </div>
</script>