.form-element { display: inline-block; }
.filter { background-color: #F5F5F5; border: 1px ridge #000000; padding: 10px 5px; }
.result { padding: 10px 0; }
select {font-size: 13px;}
table { border-collapse: collapse; }
.table-result td { border: 1px solid #AAAAAA; padding: 1px 5px; text-align: left; font-size: 12px;}
.table-result th { border: 1px solid #AAAAAA; padding: 1px 5px; text-align: center; font-size: 12px;}
.table-result tr:hover { background-color: #C5C5C5; }