<div class="boardBorder">
    <div class="board jsKanbanBoard">
        <div class="planningTable">
            <div class="cell sprintCell">
                <div class="header">
                    <h3><span><?= $this->t('SPRINTS'); ?></span></h3>
                </div>
                <div class="sprintList"></div>
            </div>
            <div class="taskCell">
            </div>
            <div class="taskDetailsCell"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
