<div class="sprintTaskList">
    <div class="header">
        <div class="fakeHandle packetFormer jsPacketFormerHandle" title="<?= $this->t('SPRINT_PACKET_FORMER_HANDLE'); ?>"></div>
        <div class="feed-post-menu-but menuIcon jsSpritGridMenu popupOpener taskMenu"></div>
        <div class="grid-sort-rank jsGridSortRank" title="<?= $this->t('SPRINT_GRID_SORT'); ?>"></div>
        <div class="gridTaskFilter gridTaskStatusFilter jsGridTaskStatusFilter"><select name="taskFilterStatus" class="empty" multiple='multiple' data-placeholder=" "></select></div>
        <div class="gridTaskFilter jsGridTaskFilter"><select name="taskFilter" class="empty" multiple='multiple' data-placeholder=" "></select></div>
    </div>
    <div class="grid" id="sprintTaskList"></div>
</div>
