<script type="text/ejs" id="tplConfirmController">
    <div class="invisible"><input type="text"></div>
    <div class="question">
        <div class="body<% if (addHtmlPadding) { %> padded<% } %>"></div>
        <div class="buttons">
            <div class="thin-green-button jsOk"><?= $this->t('OK'); ?></div>
            <% if (this.showCancel) { %>
                <a class="cancelLink jsCancel"><?= $this->t('CANCEL'); ?></a>
            <% } %>
        </div>
    </div>
</script>
