<script type="text/ejs" id="tplSprintCharts">
    <div class="question sprint-charts">
        <div class="body<% if (addHtmlPadding) { %> padded<% } %>">
            <div class="jsCharts">
                <div class="title-row jsTitleRow">
                    <h4><%= this.sprintName %></h4>
                    <div class="chart-type">
                        <select class="jsChartType">
                            <% for (var i in this.chartList) { %>
                                <option value="<%= i %>"><%= this.chartList[i].name %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="chart-wrapper jsChartWrapper">
                    <% for (i in this.chartList) { %>
                        <div class="jsChart" data-type="<%= i %>"><%= i %></div>
                    <% } %>
                </div>
            </div>
            <div class="loader" style="text-align: center;"><canvas class="shortLoader"></canvas></div>
        </div>
        <div class="buttons">
            <div class="thin-green-button jsOk"><?= $this->t('CLOSE'); ?></div>
        </div>
    </div>
</script>
