.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.report-params{
    /*height: 30px;*/
    box-sizing: border-box;
    background-color: #eaeff0;
    width: 100%;
    border-color: #b6bdbe #c9d1d2 #d6dfe0;
    box-shadow: 0 1px 2px #c7d0d2 inset;
    padding: 10px;
}

.report-params p{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-right: 5px;
}

#date_start, #date_end{
    width: 80px;
}

.generate-href{
    display: inline-block;
    border-radius: 5px;
    height: 28px;
    background: rgba(0, 0, 0, 0) url("images/buttons-sprite.png") repeat-x scroll 0 -34px;
    color: #fff;
    text-shadow: 0 -1px 0 #688b09;
    font: 13px/26px "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 10px;
    margin-left: 20px;
}

.generate-href:hover{
    background: rgba(0, 0, 0, 0) url("images/buttons-sprite.png") repeat-x scroll 0 -64px;
    color: #fff;
    text-shadow: 0 -1px 0 #688b09;
}

.no-data{
    font: 13px/26px "Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-style: italic;*/
    color: red;
    margin-left: 10px;
}

.report-table{
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
}

.report-table tr td{
    border: 1px solid #aaa;
    padding: 3px 4px;
}

.report-table-th{
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 12px;*/
    /*background-color: #ccc;*/
    text-align: center;
    border: 1px solid #aaa;
    padding: 1px 4px;
    background: linear-gradient(to bottom, #d4edf7, #b5e1f1);
    color: #41474f;
    text-shadow: 0 1px #fff;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}

.report-table-th.sorting_asc, .report-table-th.sorting_desc{
    background: linear-gradient(to bottom, #c2e6f4, #6bcef2);
}

.report-table-td{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    border: 1px solid #aaa;
    padding: 3px 4px;
}

.report-table-th{
    height: 89px;
}

.vertcol{
    transform: rotate(-90deg);
    display: inline-block;
    width: 5px;
    margin-top: 62px;
    margin-bottom: -7px;
}

.centercol{
    text-align: center;
}

.report-table-th.col-1{
    width: 25%
}

.report-table-th.col-2{
    width: 20%
}

.report-table-th.col-3{
    width: 20%
}

.report-table-th.col-4{
    width: 4%
}

.report-table-th.col-5{
    width: 4%
}

.report-table-th.col-6{
    width: 4%
}

.report-table-th.col-7{
    width: 4%
}

#department-filter-div select{
    width: 200px;
}

.bx-user-info-anchor tr td{
    border: none !important;
}

.bx-user-info-online-cell{
    display: none !important;
}

.dataTables_paginate{
    margin-top: 10px;
}

.paginate_button {
    padding: 4px 8px 3px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 13px;
    border: 0px none #fff;
    cursor: pointer;
    margin-right: 2px;
}

.paginate_button:hover{
    background-color: #eaf0f1;
    border-color: #dbe2e4 #cbd2d4 #adb4b5;
    color: #1a90c7 !important;
    box-shadow: 0 0 1px #fff inset;
}

.paginate_button.current, .paginate_button.current:hover{
    background-color: #ccdade;
    border-color: #a9b4b8 #bac7cb #c6d4d8;
    box-shadow: 0 1px 1px #bbc5c9 inset;
    color: #2067b0 !important;
}

.dataTables_filter{
    /*height: 30px;*/
    box-sizing: border-box;
    background-color: #eaeff0;
    width: 100%;
    border-left: 1px solid #c9d1d2;
    border-right: 1px solid #c9d1d2;
    border-bottom: 1px solid #d6dfe0;
    box-shadow: 0 1px -2px #c7d0d2 inset;
    padding: 5px;
    padding-bottom: 10px;
    margin-top: -1px;
}

.dataTables_filter label{
    margin-left: 79px;
}

.dataTables_filter label input{
    margin-left: 4px;
    width: 214px;
}

.report-table tbody tr.odd td{
    background-color: #e2eef3;
}

.user_violations-div{
    position: fixed;
    background: #f8fafb none repeat scroll 0 0;
    border-color: #dae4e7 #d8e2e5 #d4dfe2;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 2px 6px 21px rgba(83, 92, 105, 0.15);
}

.user_violations-div-tbl{
    border-collapse: collapse;
    /*background-color: #e2eef3;*/
    background-color: transparent;
    margin-top: 10px;
}

.user_violations-div-tbl tr td, .user_violations-div-tbl tr th{
    background-color: transparent !important;
    text-align: left;
    padding: 4px 5px;
}

.user_violations-div-tbl tr td{
    border: none;
    border-bottom: 1px solid #ddd;
}

.user_violations-div-tbl tr th{
    text-align: center;
    font-weight: normal;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #d4edf7, #b5e1f1) repeat scroll 0 0;
}

.user_violations-div-header{
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f7f8f8, #e0eaed) repeat scroll 0 0;
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}

.user_violations-div-close{
    background: rgba(0, 0, 0, 0) url("/bitrix/js/main/core/css/../images/controls-sprite.png") no-repeat scroll 0 -283px;
    height: 13px;
    position: absolute;
    right: 8px;
    top: 5px;
    width: 13px;
}

.user_violations-div-close:hover{
    background: rgba(0, 0, 0, 0) url("/bitrix/templates/bitrix24/images/interface/timeman/popup-window-close-icon.png") no-repeat scroll center center;
}

.user_violations-div-header-p{
    margin: 12px 0 0 5px;
    text-align: left;
    font-size: 14px;
}

.user_violations-div-tbl-wrapper{
    padding: 0 10px;
    max-height: 500px;
    overflow-y: auto;
}

.user_violations-div-close-button:hover{
    color: #d00000;
    text-decoration: underline;
}

.user_violations-div-close-button{
    color: #d83e3e;
    text-decoration: underline;
    display: block;
    text-align: center;
    margin: 20px 0 10px;
}

.user_violations-div-employe{
    text-align: left;
}

.user_violations-div-user-wrapper{
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.bx-user-info-anchor-cell{
    background-color: transparent !important;
}