<script type="text/ejs" id="tplTask">
    <div class="handle"></div>
    <div class="feed-post-menu-but menuIcon jsMenuIcon popupOpener" style='display:none;'></div>
    <div class="body <% if (model.archived) { %>archived<% } %>">
        <div class="labels">
            <% for (var iLabel=0; tpl.labelList.length > iLabel; iLabel++) {
                if (!tpl.labelList[iLabel].label) {
                    continue;
                } %>
            <div title="<%= tpl.labelList[iLabel].label.title %>" data-label2taskId="<%= tpl.labelList[iLabel].id %>" class="<%= tpl.labelList[iLabel].label.cssClass %>"></div>
            <% } %>
        </div>
        <div class="inner">
            <div class="descr jsDescr">
                <i class="startEdit"></i>
                <i class="jsTitleIcon title-icon"></i>
                <div class="title jsTitle"><%= tpl.code %></div>
                <span class="lineTitle"><%= model.realTitle ? htmlspecialchars(model.realTitle) : model.title %></span>
                <span class="lineDescr"><%= $.trim($.stripTags(((model.description ? model.description + '' : '')).br2nl())).nl2br().replace(/\n/g, " ").substr(0, 150) %></span>
            </div>
            <div class="checklist">
                <% if (tpl.dodList.length) { %>
                <% for (var iAcc=0; iAcc < tpl.dodList.length; iAcc++) {%>
                <label class="dod" <% if (tpl.dodList[iAcc].description.length > 26) { %>title="<%= tpl.dodList[iAcc].description %>"<% } %>><input type="checkbox" class="styled" <% if (tpl.dodList[iAcc].isCheckedTask(tpl.checkDodList)) { %>checked="checked"<% }%> <% if (!tpl.canCheckCheckItem) { %>disabled="disabled"<% } %> data-dodId="<%= tpl.dodList[iAcc].dodId %>"><i></i><span><%= htmlspecialchars(tpl.dodList[iAcc].description) %></span></label>
                <% } %>
                <% }

                var maxCount = 7 - (tpl.dodList.length ? tpl.dodList.length : 0);

                if (tpl.checkList.length) { %>
                <% for (var iAcc=0; iAcc < tpl.checkList.length && iAcc < maxCount; iAcc++) {
                var desc = htmlspecialchars(tpl.checkList[iAcc].description);
                %>
                <label <% if (desc.length > 26) { %>title="<%= desc %>"<% } %>><input type="checkbox" class="styled" <% if (tpl.checkList[iAcc].isNewTask() || !tpl.canCheckCheckItem) { %> disabled="disabled"<% }%> <% if (tpl.checkList[iAcc].isCheckedTask()) { %>checked="checked"<% }%> data-itemId="<%= tpl.checkList[iAcc].checklistItemId %>" ><i></i><span><%= desc %></span></label>
                <% }

                var overUse = tpl.checkList.length - maxCount;
                if (overUse > 0) {
                %><b><?= $this->t('AND_MORE_DODS') ?><%= overUse %><%= String.ruHelper.declension(overUse, [String._('AND_MORE_DODS_1'), String._('AND_MORE_DODS_2'), String._('AND_MORE_DODS_5')]) %></b><%
                }

                } %>
            </div>
            <% if (!model.archived) { %>
            <div class="icons jsIcons">
                <%== $.View('taskViewResponsible', {responsible: tpl.responsible}) %>
                <% if ((tpl.timeUsed > 0) || (tpl.timePlan > 0) && (window.SCRUMBAN.isFeatureEnabled('task.timeControl'))) {
                %><i title="<%= $.String.sub(String._("STAT_BLOCK"), {'used': Date.toPlanFormat(tpl.timeUsed), 'plan': Date.toPlanFormat(tpl.timePlan)}) %>" class="miniblock hours <%= ((tpl.timePlan < tpl.timeUsed) ? 'overtime' : '') %>"><b></b><%= Date.toPlanFormat(tpl.timeUsed) + "/" + Date.toPlanFormat(tpl.timePlan) %></i><%
                }
                if (model.startDatePlan) {
                var date = Date.fromPhp(model.startDatePlan);
                if (date) {
                %><i class="miniblock created" title="<?= $this->t('DATE_BEGIN') ?>"><b></b><%= (new Date(date)).format("d mmm, HH:MM") %></i><%
                }
                }

                if (model.deadline) {
                    date = Date.fromPhp(model.deadline);
                    if (date) {
                        date = new Date(date);
                        %><i class="miniblock deadline <%= (date < (new Date()) && (model.status != 4) && (model.status != 5)) ? 'now' : ''%>" title="<%= String._('DATE_DEADLINE') %>"><b></b><%= date.format("d mmm, HH:MM").replace(", 00:00", "") %></i><%
                    }
                }

                if (window.SCRUMBAN.isFeatureEnabled('taskDetails.commentCount') && parseInt(model.commentsCount, 10) > 0) {
                %><i class="miniblock comments" title="<?= $this->t('COMMENTS_COUNT') ?>"><b></b><%= model.commentsCount %></i><%
                }

                if (model.hasSubtasks()) {
                %><i class="miniblock subtasks" title="<?= $this->t('SUBTASK_COUNT') ?>"><b></b><%= model.getDescendents().length %></i><%
                }

                if (model.dayPlanning) {
                %><i class="miniblock toplan" title="<?= $this->t('ON_DAY_PLAN') ?>"><b></b></i><%
                }

                if (model.files && model.files.length) {
                %><i class="miniblock files" title="<?= $this->t('ATTACHMENTS_COUNT'); ?>"><b></b><%= model.files.length %></i><%
                }

                if (tpl.totalChecks > 0) {
                %><i class="miniblock checklist <%= (tpl.checkedChecks >= tpl.totalChecks) ? 'done' : ''%>" title="<?= $this->t('CHECKLIST_ITEM_DONE'); ?>"><b></b><span class='stat'><%= tpl.checkedChecks + "/" + tpl.totalChecks %></span></i><%
                }

                if (tpl.isWatching) {
                %><i class="miniblock watching" title="<?= $this->t('YOU_WATCHER'); ?>"><b></b></i><%
                }

                if (model.allowTimeTracking == 'Y') {
                    %><i class="miniblock timer jsTaskTimer <% if (model.timer) { %>active<% } %>" title="<?= $this->t('TIME_ESTIMATE'); ?>">
                        <b></b><span class="jsTimerValue"><% if (model.timer) {
                            %><%= Date.timerFormat(Math.round((new Date()).valueOf() / 1000) - parseInt(model.timer.timerStartedAt, 10) + parseInt(model.elapsedTimeSeconds, 10)) %>
                        <% } else {
                            %><%= Date.timerFormat(model.elapsedTimeSeconds) %>
                        <% } %>
                        </span>
                    </i><%
                }

                if (model.tags) {
                for (i = 0; i < model.tags.length && i < 5; i++) {
                if ($.EJS.tagsViewLimit && $.EJS.tagsViewLimit == i) break;
                %><span class='tag'><%= model.tags[i] %></span><%
                }
                }
                %>
            </div>
            <% } %>

            <div class="clear"></div>
            <div class="images jsImages"></div>

            <div class="clear"></div>
            <% if (!model.archived && tpl.timelineClass) { %>
            <div class="timeline jsTl <%= tpl.timelineClass %>"><span class="jsTlDesc"><%= tpl.timelineDesc %></span></div>
            <% } %>
        </div>
        <div class="problem jsProblem"></div>
        <div class="clear"></div>
    </div>
</script>
