.form-element { display: block; }
.form-element label {vertical-align: top; width: 180px; display:inline-block;}
.filter { background-color: #F5F5F5; border: 1px ridge #000000; padding: 10px 5px; width: 1000px; }
.result { padding: 10px 0; }
.error { padding: 10px 0; color: red; }
select {font-size: 13px;}
table { border-collapse: collapse; font-size: 12px;}
.table-result th { border: 1px solid #AAAAAA; padding: 1px 5px; text-align: center;}
.table-result td { border: 1px solid #AAAAAA; padding: 1px 5px; text-align: left;}
.table-result tr:hover { background-color: #C5C5C5; }
