<script type="text/ejs" id="filterResponsiblePopup">
    <div class="popup">
        <select class="jsUserList">
            <%
            if (window.SCRUMBAN.isFeatureEnabled('task.noResponsible')) {
                var noResponsibleModel = new Sibirix.Model.Kanban.User({id: -1, name: String._('TASK_WITHOUT_RESPONSIBLE')}); %>
                <option value="<%= noResponsibleModel.id %>" class="user-item peopleItem"
                    <% if (noResponsibleModel.avatar) { %> data-image="<%= noResponsibleModel.avatar %>"<% } %>
                    data-title="<%= noResponsibleModel.getFullName() %>">
                    <%= noResponsibleModel.getFullName() %>
                </option><%
            }

            for (var i=0; i < users.length; i++) {
            %><option value="<%= users[i].id %>"<%
                if (users[i].noAvatar || !users[i].avatar) {
                    %> data-html="<abbr class='viewBlock' style='background-color: <%= users[i].avatarColor %>'><%= users[i].avatarLetters %></abbr><%= users[i].getFullName() %>"<%
                } else if (users[i].avatar) {
                    %> data-image="<%= users[i].avatar %>"<%
                }
                %> class="user-item peopleItem" data-class="<%= users[i].getStatus() %>" data-title="<%= users[i].getFullName() %>"><%=
                users[i].getFullName()
                %></option><%
            }
            %></select>
    </div>
</script>
