<script type='text/ejs' id='popupProjectSelector'>
    <select name="projectSelector">
        <%
        var projectIdReplaceToken = '';
        var projectSelectorLineUrl = '';

        if (hasArchived) {
            %><optgroup label="<?= $this->t('PROJECTS_ACTIVE'); ?>"><%
        }

        for (var i = 0; i < projectList.length; i++) {
            if (!isNaN(parseInt(projectList[i].id, 10))) continue;
            projectIdReplaceToken = projectList[i].id;
            if (projectList[i].site) {
                projectIdReplaceToken += '/site/' + projectList[i].site;
            }

            projectSelectorLineUrl = $.String.sub(projectSelectorBaseUrl, {'projectId': projectIdReplaceToken});

            %><? /* projectList[i].site - TODO only bitrix */ ?>
            <option value="<%= projectList[i].site ? projectList[i].site : projectList[i].id %>"
                    data-url="<%= projectSelectorLineUrl %>"
                    data-image="<% if (projectList[i].image) { %><%= projectList[i].image.src %><% } %>"
            <% if (projectList[i].site == selected) { %>selected<% } %>
            >
            <%= projectList[i].name %>
            </option><%
        }

        for (var i = 0; i < projectList.length; i++) {
            if (isNaN(parseInt(projectList[i].id, 10)) || projectList[i].closed == 'Y') continue;

            projectSelectorLineUrl = $.String.sub(projectSelectorBaseUrl, {'projectId': projectList[i].id});

            if (projectList[i].avatarColor) {
                %><option value="<%= projectList[i].id %>"
                        data-html="<a href='<%= projectSelectorLineUrl %>'><span class='img' style='background-color: <%= projectList[i].avatarColor %>'><%= projectList[i].avatarLetters %></span><%= projectList[i].name %></a>"
                <% if (projectList[i].id == selected) { %>selected<% } %>
                ><%= projectList[i].name %></option><%
            } else {
                %><option value="<%= projectList[i].id %>"
                        data-url="<%= projectSelectorLineUrl %>"
                        data-image="<% if (projectList[i].image) { %><%= projectList[i].image.src %><% } %>"
                <% if (projectList[i].id == selected) { %>selected<% } %>
                >
                <%= projectList[i].name %>
                </option><%
            }
        }

        if (hasArchived) {
            %></optgroup><optgroup label="<?= $this->t('PROJECTS_ARCHIVED'); ?>"><%
        }

        for (var i = 0; i < projectList.length; i++) {
            if (isNaN(parseInt(projectList[i].id, 10)) || projectList[i].closed != 'Y') continue;

            projectSelectorLineUrl = $.String.sub(projectSelectorBaseUrl, {'projectId': projectList[i].id});

            if (projectList[i].avatarColor) {
                %><option value="<%= projectList[i].id %>"
                        data-html="<a href='<%= projectSelectorLineUrl %>'><span class='img' style='background-color: <%= projectList[i].avatarColor %>'><%= projectList[i].avatarLetters %></span><%= projectList[i].name %></a>"
                <% if (projectList[i].id == selected) { %>selected<% } %>
                ><%= projectList[i].name %></option><%
            } else {
                %><option value="<%= projectList[i].id %>"
                        data-url="<%= projectSelectorLineUrl %>"
                        data-image="<% if (projectList[i].image) { %><%= projectList[i].image.src %><% } %>"
                <% if (projectList[i].id == selected) { %>selected<% } %>
                >
                <%= projectList[i].name %>
                </option><%
            }
        }

        if (hasArchived) {
            %></optgroup><%
        } %>
    </select>
</script>
