<script type='text/ejs' id='popupSprintSelector'>
    <select name="sprintSelector">
        <%
        var excludeId = (typeof(excludeSprintId) !== 'undefined') ? excludeSprintId : false;
        var itemSelected, sprintOuterUrl = '';
        if (!hasArchived) {
            if (excludeId !== 0) {
                sprintOuterUrl = $.String.sub(window.SCRUMBAN.routeList.project.index, {'projectId': window.scrumbanBoard.options.model.groupId});
                %><option value="0" selected data-url="<%= sprintOuterUrl %>"><?= $this->t("BOARD_UNASSIGNED") ?></option><%
            }

            for (var i in sprintList) {
                if (!sprintList[i].sprintId) continue;
                if (sprintList[i].sprintId == excludeId) continue;
                sprintOuterUrl = $.String.sub(window.SCRUMBAN.routeList.sprint.index, {'sprintId': sprintList[i].sprintId});
                itemSelected = (sprintList[i].sprintId == sprint.sprintId) ? 'selected' : '';
                %><option value="<%= sprintList[i].sprintId %>" <%= itemSelected %> data-url="<%= sprintOuterUrl %>"><%= sprintList[i].title %></option><%
            }
        } else {
            %><optgroup label="<?= $this->t('SPRINTS_ACTIVE'); ?>"><%
            if (excludeId !== 0) {
                sprintOuterUrl = $.String.sub(window.SCRUMBAN.routeList.project.index, {'projectId': window.scrumbanBoard.options.model.groupId});
                %><option value="0" selected data-url="<%= sprintOuterUrl %>"><?= $this->t("BOARD_UNASSIGNED") ?></option><%
            }
            for (var i in sprintList) {
                if (!sprintList[i].sprintId) continue;
                if (sprintList[i].archived == "Y") continue;
                if (sprintList[i].sprintId == excludeId) continue;
                sprintOuterUrl = $.String.sub(window.SCRUMBAN.routeList.sprint.index, {'sprintId': sprintList[i].sprintId});
                itemSelected = (sprintList[i].sprintId == sprint.sprintId) ? 'selected' : '';
                %><option value="<%= sprintList[i].sprintId %>" <%= itemSelected %> data-url="<%= sprintOuterUrl %>"><%= sprintList[i].title %></option><%
            }

            %></optgroup><optgroup label="<?= $this->t('SPRINTS_FINISHED'); ?>"><%
            for (var i in sprintList) {
                if (!sprintList[i].sprintId) continue;
                if (sprintList[i].archived != "Y") continue;
                if (sprintList[i].sprintId == excludeId) continue;

                sprintOuterUrl = $.String.sub(window.SCRUMBAN.routeList.sprint.index, {'sprintId': sprintList[i].sprintId});
                itemSelected = (sprintList[i].sprintId == sprint.sprintId) ? 'selected' : '';
                %><option value="<%= sprintList[i].sprintId %>" <%= itemSelected %> data-url="<%= sprintOuterUrl %>"><%= sprintList[i].title %></option><%
            }
        %></optgroup><%
        } %>
    </select>
</script>