.rss-show {
    margin-left:20px;
}
.rss-show .date {
    font-weight: bold;
}
.rss-show  .date {
    font-weight: bold;
    float: right;
    font-size: 11px;
    margin-right: 30px;
    color: #535C6D;
}
.rss-show  a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
}

.rss-show  p {
    border-bottom: 15px solid #eef2f4;
    padding-bottom: 20px;
    margin-right: 30px;
}
