<div class="component withShadow text">
    <div class="title">
        <div class="main">
            <div class="text text-title">
                <?=$this->errorCode;?> &mdash; <?=$this->message;?>
            </div>
        </div>
        <div class="left"></div>
        <div class="right"></div>
    </div>
    <div class="body textWrapper">
        <div class="back404">
            <?php if (defined("DEBUG") && DEBUG): ?>
                <h3>Exception information:</h3>
                <p>
                    <strong>Message:</strong>
                    <span class="jsExceptionMessage"><?php echo $this->exception->getMessage(); ?></span>
                </p>

                <h3>Stack trace:</h3>
                <pre><?= $this->exception->getTraceAsString() ?></pre>

                <h3>Request Parameters:</h3>
                <? Zend_Debug::dump($this->request->getParams()); ?>
            <?php endif ?>


            <? if ($this->errorCode == 404) : ?>
                <p><?= $this->t('ERROR_PAGE_MESSAGE_404') ?></p>
            <? endif;?>


            <? if ($this->errorCode == 500) : ?>
                <p><?= $this->t('ERROR_PAGE_MESSAGE_500') ?></p>
            <? endif;?>


            <div class="clear"></div>

        </div>

    </div>
</div>
