#workarea{
	padding: 2px;
}

.bml-pr-wrapper, .bml-pr-tpl2-wrapper{
	font-family: 'times new roman', serif;
	font-size: 14px;
	width: 665px;
}

.bml-pr-wrapper{
	font-size: 17px;
}

.bml-pr-tpl2-wrapper{
	width: 975px;
}

.bml-pr-h1{
	font-size: 10px;
	text-align: center;
}

.bml-pr-h2{
	font-style: italic;
	text-align: center;
}

.bml-pr-h2 span{
	font-weight: bold;
}

.bml-pr-main-date{
	font-weight: bold;
	text-align: center;
}

.bml-pr-table, .bml-pr-tpl2-table{
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
	margin-top: -1px;
	box-sizing: border-box;
}

.bml-pr-table tr th, .bml-pr-table tr td, .bml-pr-tpl2-table tr th, .bml-pr-tpl2-table tr td{
	border: 1px solid #000;
	padding: 5px 3px;
}

.bml-pr-table tr td{
	padding: 10px 3px;
}

.bml-pr-table tr th, .bml-pr-tpl2-table tr th{
	text-align: center;
	vertical-align: middle;
	/*background-color: #aaa;*/
}

.bml-pr-table tr th:nth-child(1), .bml-pr-table tr td:nth-child(1){
	width: 25px;
}

.bml-pr-table tr th:nth-child(5), .bml-pr-table tr td:nth-child(5){
	width: 100px;
}

.bml-pr-table tr th:nth-child(3), .bml-pr-table tr td:nth-child(3){
	width: 40px;
}

.bml-pr-table tr th:nth-child(4), .bml-pr-table tr td:nth-child(4){
	width: 130px;
}

.bml-pr-tpl2-table tr th:nth-child(1), .bml-pr-tpl2-table tr td:nth-child(1){
	width: 29px;
}

/*
.bml-pr-tpl2-table tr th:nth-child(2), .bml-pr-tpl2-table tr td:nth-child(2){
	width: 220px;
}
*/

.bml-pr-tpl2-table tr th:nth-child(3), .bml-pr-tpl2-table tr td:nth-child(3){
	width: 40px;
}

.bml-pr-tpl2-table tr th:nth-child(4), .bml-pr-tpl2-table tr td:nth-child(4){
	width: 120px;
}

.bml-pr-tpl2-table tr th:nth-child(5), .bml-pr-tpl2-table tr td:nth-child(5){
	width: 110px;
}

.bml-pr-tpl2-table tr th:nth-child(6), .bml-pr-tpl2-table tr td:nth-child(6){
	width: 90px;
}

.bml-pr-tpl2-table tr th:nth-child(7), .bml-pr-tpl2-table tr td:nth-child(7){
	width: 280px;
}

/*.bml-pr-tpl2-table tr th:nth-child(8), .bml-pr-tpl2-table tr td:nth-child(8){*/
	/*width: 90px;*/
/*}*/

.bml-pr-table-td-level1{
	background-color: #aaa;
	font-size: 16px;
	font-weight: bold;
}

.bml-pr-table-tpl2-tr-level1 td {
	background-color: transparent; /* Было #eee */
}

.bml-pr-table-td-level2_last{
	border-bottom: 2px solid #000000;
	text-align: left !important;
	padding: 5px 3px !important;
}

.bml-pr-tpl2-h2{
	text-align: center;
	font-size: 18px;
}

@media print{
	* {
		-webkit-print-color-adjust: exact;
		/*background-color: transparent;*/
	}

	body{
		background-color: #fff;
		padding: 0;
		margin: 0;
	}

	.bx-layout-inner-inner-table{
		background-color: #fff;
	}

	.pagebreak{
		/*page-break-after: auto;*/
		page-break-inside:avoid;
	}


	#bx_b24_menu, #header, #bx-panel, .bx-layout-header, .pagetitle-wrap, .bx-layout-inner-left, .sidebar, .footer,
	.bx-layout-inner-table > tbody > tr:nth-child(2), .bx-layout-inner-inner-right, .feed-up-btn, .bx-notifier-panel   {
		display: none;
	}

	.bml-pr-tpl2-wrapper {
		width: auto;
	}

	.bx-layout-inner-inner-table {
		width: 100%;
	}


	/*.bx-layout-inner-left, .bx-layout-inner-center{
		display: none;
	}*/
	.workarea-content-paddings, #workarea, .bx-layout-inner-inner-cont{
		padding: 0 !important;
	}

	.bx-layout-inner-inner-top-row{
		display: none;
	}

}
