.form-element { display: inline-block; }
.filter { background-color: #F5F5F5; border: 1px ridge #000000; padding: 10px 5px; }
.result { padding: 10px 0; min-height: 500px;}
select {font-size: 13px;}
table { border-collapse: collapse; font-size: 12px;}
.table-result td { border: 1px solid #AAAAAA; padding: 1px 5px; text-align: center;}
.table-result th { border: 1px solid #AAAAAA; padding: 1px 5px; text-align: center;}
.table-result tr:hover { background-color: #ADD8E6; }
.td_hover { background-color: #ADD8E6; }