<?

CJSCore::Init(array('popup', 'ajax', 'window', 'date', 'jquery'));

if (SITE_TEMPLATE_ID == "bitrix24") {
    global $APPLICATION, $USER;
    $APPLICATION->AddHeadString('<link href="/bitrix/templates/bitrix24/interface.css" type="text/css" rel="stylesheet" />');

    $options = new COption();
    $module = new CModule();
    $APPLICATION->IncludeComponent("bitrix:pull.request", "");
    $APPLICATION->IncludeComponent("bitrix:intranet.mail.check", "", array(), false, array());
    ?>

<div id="header">
    <div id="header-inner">
        <?
        //This component is used for menu-create-but.
        //We have to include the component before bitrix:timeman for composite mode.
        if ($module->IncludeModule('tasks') && CBXFeatures::IsFeatureEnabled('Tasks')):
            $APPLICATION->IncludeComponent(
                "bitrix:tasks.iframe.popup",
                ".default",
                array(
                    "ON_TASK_ADDED" => "#SHOW_ADDED_TASK_DETAIL#",
                    "ON_TASK_CHANGED" => "BX.DoNothing",
                    "ON_TASK_DELETED" => "BX.DoNothing"
                ),
                null,
                array("HIDE_ICONS" => "Y")
            );
        endif;

        if(
            !$module->IncludeModule("extranet")
            || CExtranet::GetExtranetSiteID() != SITE_ID
        )
        {
            if(
                !IsModuleInstalled("timeman")
                || !$APPLICATION->IncludeComponent('bitrix:timeman', 'bitrix24', array(), false, array("HIDE_ICONS" => "Y" ))
            )
            {
                $APPLICATION->IncludeComponent('bitrix:planner', 'bitrix24', array(), false, array("HIDE_ICONS" => "Y" ));
            }
        }
        else
        {
            CJSCore::Init("timer");?>
            <div class="timeman-wrap">
							<span id="timeman-block" class="timeman-block">
								<span class="time" id="timeman-timer"><script type="text/javascript">document.write(B24.Timemanager.formatCurrentTime(new Date().getHours(), new Date().getMinutes()))</script></span>
							</span>
            </div>
            <script type="text/javascript">BX.ready(function() {
                    BX.timer.registerFormat("bitrix24_time", B24.Timemanager.formatCurrentTime);
                    BX.timer({
                        container: BX("timeman-timer"),
                        display : "bitrix24_time"
                    });
                });</script>
        <?
        }
        ?>

        <div class="header-logo-block">
            <span class="header-logo-block-util"></span>
            <?if (IsModuleInstalled("bitrix24")):?>
                <a id="logo_24_a" href="<?=SITE_DIR?>" title="<?=GetMessage("BITRIX24_LOGO_TOOLTIP")?>" class="logo"><?
                    $clientLogo = $options::GetOptionInt("bitrix24", "client_logo", "");?>
                    <span id="logo_24_text" <?if ($clientLogo):?>style="display:none"<?endif?>>
									<span class="logo-text"><?=htmlspecialcharsbx($options::GetOptionString("bitrix24", "site_title", ""))?></span><?
                        if($options::GetOptionString("bitrix24", "logo24show", "Y") !=="N"):?><span class="logo-color">24</span><?endif?>
								</span>
                    <img id="logo_24_img" src="<?if ($clientLogo) echo CFile::GetPath($clientLogo)?>" <?if (!$clientLogo):?>style="display:none;"<?endif?>/>
                </a>
            <?else:?>
                <?
                $logoID = $options::GetOptionString("main", "wizard_site_logo", "", SITE_ID);
                ?>
                <a id="logo_24_a" href="<?=SITE_DIR?>" title="<?=GetMessage("BITRIX24_LOGO_TOOLTIP")?>" class="logo">
                    <?if ($logoID):?>
                        <?$APPLICATION->IncludeComponent("bitrix:main.include", "", array("AREA_FILE_SHOW" => "file", "PATH" => SITE_DIR."include/company_name.php"), false);?>
                    <?else:?>
                        <span id="logo_24_text">
										<span class="logo-text"><?=htmlspecialcharsbx($options::GetOptionString("main", "site_name", ""));?></span>
										<span class="logo-color">24</span>
									</span>
                    <?endif?>
                </a>
            <?endif?>
            <?
            $GLOBALS["LEFT_MENU_COUNTERS"] = array();
            if ($module->IncludeModule("im") && CBXFeatures::IsFeatureEnabled('WebMessenger'))
            {
                $APPLICATION->IncludeComponent("bitrix:im.messenger", "", Array(
                    "PATH_TO_SONET_EXTMAIL" => SITE_DIR."company/personal/mail/"
                ), false, Array("HIDE_ICONS" => "Y"));
            } ?>
        </div>

        <?$APPLICATION->IncludeComponent("bitrix:search.title", ".default", Array(
                "NUM_CATEGORIES" => "5",
                "TOP_COUNT" => "5",
                "CHECK_DATES" => "N",
                "SHOW_OTHERS" => "Y",
                "PAGE" => "#SITE_DIR#search/index.php",
                "CATEGORY_0_TITLE" => GetMessage("BITRIX24_SEARCH_EMPLOYEE"),
                "CATEGORY_0" => array(
                    0 => "intranet",
                ),
                "CATEGORY_1_TITLE" => GetMessage("BITRIX24_SEARCH_DOCUMENT"),
                "CATEGORY_1" => array(
                    0 => "iblock_library",
                ),
                "CATEGORY_1_iblock_library" => array(
                    0 => "all",
                ),
                "CATEGORY_2_TITLE" => GetMessage("BITRIX24_SEARCH_GROUP"),
                "CATEGORY_2" => array(
                    0 => "socialnetwork",
                ),
                "CATEGORY_2_socialnetwork" => array(
                    0 => "all",
                ),
                "CATEGORY_3_TITLE" => GetMessage("BITRIX24_SEARCH_MICROBLOG"),
                "CATEGORY_3" => array(
                    0 => "microblog", 1 => "blog",
                ),
                "CATEGORY_4_TITLE" => "CRM",
                "CATEGORY_4" => array(
                    0 => "crm",
                ),
                "CATEGORY_OTHERS_TITLE" => GetMessage("BITRIX24_SEARCH_OTHER"),
                "SHOW_INPUT" => "N",
                "INPUT_ID" => "search-textbox-input",
                "CONTAINER_ID" => "search",
            ),
            false
        );?>

        <?$APPLICATION->IncludeComponent("bitrix:system.auth.form", "", array(
                "PATH_TO_SONET_PROFILE" => $profile_link."/user/#user_id#/",
                "PATH_TO_SONET_PROFILE_EDIT" => $profile_link."/user/#user_id#/edit/",
                "PATH_TO_SONET_EXTMAIL_SETUP" => $profile_link."/mail/?page=home",
                "PATH_TO_SONET_EXTMAIL_MANAGE" => $profile_link."/mail/?page=manage"
            ),
            false
        );?>
    </div>
</div>
<script type="text/javascript">BX.onCustomEvent(window, "onScriptsLoaded");</script>
<?

    $APPLICATION->ShowViewContent("im");
    $APPLICATION->ShowBodyScripts();
    }
?>
