<?

CJSCore::Init(array('popup', 'ajax', 'timer', 'window', 'date', 'jquery'));

if (SITE_TEMPLATE_ID == "bitrix24") {
    global $APPLICATION, $USER;
    $APPLICATION->AddHeadString('<link href="/bitrix/templates/bitrix24/interface.css" type="text/css" rel="stylesheet" />');

    $APPLICATION->ShowViewContent("im");
    $options = new COption();
    $module = new CModule();
    ?>

    <div id="header">
        <div id="header-inner">

            <?if (IsModuleInstalled("timeman") && !($module->IncludeModule("extranet") && SITE_ID == CExtranet::GetExtranetSiteID())):?>
            <?$APPLICATION->IncludeComponent("bitrix:timeman", "bitrix24", Array(), false, Array("HIDE_ICONS" => "Y" ));?>
            <?else:?>
            <div class="timeman-wrap timeman-simple">
                <span id="timeman-block" class="timeman-block">
                    <span class="time" id="timeman-timer"><script type="text/javascript">B24Utils.formateDate(new Date())</script></span>
                </span>
            </div>
            <script type="text/javascript">BX.ready(function() {BX.timer.clock(BX("timeman-timer"))});</script>
            <?endif?>

            <div class="header-logo-block">
                <a href="<?=SITE_DIR?>" title="<?= GetMessage('BITRIX24_LOGO_TOOLTIP') ?>" class="logo">
                    <span class="logo-text"><?= htmlspecialchars($options->GetOptionString('main', 'site_name', '')); ?></span>
                    <span class="logo-color">24</span>
                </a>
                <? if ($module->IncludeModule("im") && CBXFeatures::IsFeatureEnabled('WebMessenger')) {
                    $APPLICATION->IncludeComponent("bitrix:im.messenger", "", Array(), false, Array("HIDE_ICONS" => "Y"));
                } ?>
                <a href="/scrumban/" class="scrumban-head-informers" title="<?= GetMessage("SCRUMBAN_NAME"); ?>">
                    <img src="data:image/gif;base64,R0lGODlhEwAPAIABAKSst////yH5BAEAAAEALAAAAAATAA8AAAIrhI+pyxf/AIwzGHul05lr/G2eVY1dmIGYapbS1IrlLMMz3OTVzvf+DwwUAAA7" alt="">
                </a>
            </div>

            <?$APPLICATION->IncludeComponent("bitrix:search.title", ".default", Array(
                "NUM_CATEGORIES" => "5",
                "TOP_COUNT" => "5",
                "CHECK_DATES" => "N",
                "SHOW_OTHERS" => "Y",
                "PAGE" => "#SITE_DIR#search/index.php",
                "CATEGORY_0_TITLE" => GetMessage("BITRIX24_SEARCH_EMPLOYEE"),
                "CATEGORY_0" => array(
                    0 => "intranet",
                ),
                "CATEGORY_1_TITLE" => GetMessage("BITRIX24_SEARCH_DOCUMENT"),
                "CATEGORY_1" => array(
                    0 => "iblock_library",
                ),
                "CATEGORY_1_iblock_library" => array(
                    0 => "all",
                ),
                "CATEGORY_2_TITLE" => GetMessage("BITRIX24_SEARCH_GROUP"),
                "CATEGORY_2" => array(
                    0 => "socialnetwork",
                ),
                "CATEGORY_2_socialnetwork" => array(
                    0 => "all",
                ),
                "CATEGORY_3_TITLE" => GetMessage("BITRIX24_SEARCH_MICROBLOG"),
                "CATEGORY_3" => array(
                    0 => "microblog", 1 => "blog",
                ),
                "CATEGORY_4_TITLE" => "CRM",
                "CATEGORY_4" => array(
                    0 => "crm",
                ),
                "CATEGORY_OTHERS_TITLE" => GetMessage("BITRIX24_SEARCH_OTHER"),
                "SHOW_INPUT" => "N",
                "INPUT_ID" => "search-textbox-input",
                "CONTAINER_ID" => "search",
            ),
            false
        );?>


            <?
            $profile_link = SITE_DIR."company/personal";
            if ($module->IncludeModule("extranet") && SITE_ID == CExtranet::GetExtranetSiteID())
                $profile_link = SITE_DIR."contacts/personal";
            $APPLICATION->IncludeComponent("bitrix:system.auth.form", "", array(
                    "REGISTER_URL" => SITE_DIR."auth/",
                    "PATH_TO_MYPORTAL" => SITE_DIR."desktop.php",
                    "PATH_TO_SONET_PROFILE" => $profile_link."/user/#user_id#/",
                    "PATH_TO_SONET_PROFILE_EDIT" => $profile_link."/user/#user_id#/edit/",
                    "PATH_TO_SONET_MESSAGES" => $profile_link."/messages/",
                    "PATH_TO_SONET_MESSAGE_FORM"    =>  $profile_link."/messages/form/#user_id#/",
                    "PATH_TO_SONET_MESSAGE_FORM_MESS"   =>  $profile_link."/messages/form/#user_id#/#message_id#/",
                    "PATH_TO_SONET_MESSAGES_CHAT"   =>  $profile_link."/messages/chat/#user_id#/",
                    "PATH_TO_SONET_LOG" => $profile_link."/log/",
                    "PATH_TO_SONET_GROUPS" => $profile_link."/user/#user_id#/groups/",
                    "PATH_TO_CALENDAR" => $profile_link."/user/#user_id#/calendar/",
                    "PATH_TO_TASKS" => $profile_link."/user/#user_id#/tasks/",
                    "PATH_TO_PHOTO" => $profile_link."/user/#user_id#/photo/",
                    "PATH_TO_BLOG" => $profile_link."/user/#user_id#/blog/",
                    "PATH_TO_MICROBLOG" => $profile_link."/user/#user_id#/microblog/",
                    "PATH_TO_FILES" => $profile_link."/user/#user_id#/files/lib/",
                ),
                false
            );?>
        </div>
    </div>
<?
    }
?>