div.blue-tabs-menu
{
	float:left;
	width:100%;
	background:#BBD9EE;
	font-size:93%;
	line-height:normal;
}

div.blue-tabs-menu ul
{
	margin:0;
	padding:10px 10px 0 10px;
	list-style:none;
}

div.blue-tabs-menu li
{
	display:inline;
	margin:0;
	padding:0;
}

div.blue-tabs-menu a
{
	float:left;
	background:url("images/tableft.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	margin-top:0.2em;
}

div.blue-tabs-menu a nobr
{
	float:left;
	display:block;
	background:url("images/tabright.gif") no-repeat right top;
	padding:5px 15px 4px 6px;
	white-space:nowrap;
	color:#666;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
div.blue-tabs-menu a nobr {float:none;}
/* End IE5-Mac hack */

div.blue-tabs-menu a:hover nobr
{
	color:#FF9834;
}

div.blue-tabs-menu a:hover
{
	background-position:0% -42px;
}

div.blue-tabs-menu a:hover nobr
{
	background-position:100% -42px;
}

div.menu-clear-left
{
	clear:left;
}

table.bx-interface-grid tr.bx-grid-gutter td {
	padding:0px !important;
}

table.bx-interface-grid tr.bx-grid-sorting  td {
	padding:0px !important;
}

table.bx-interface-grid tr.bx-grid-head td {
	padding-top:0px !important;
	padding-left:5px !important;
	padding-right:5px !important;
	padding-bottom:5px !important;
}

table.bx-interface-grid tr.bx-grid-footer table.bx-grid-footer {
	color: #E0E0E0 !important;
}

table.bx-interface-grid tr.bx-grid-head td.bx-sorted {
    /**background-color: #C0C0C0 !important;**/
}

table.bx-interface-grid tr.bx-grid-head td {
    /**background-color: #D9D9D9;
    background-image: url("/bitrix/components/bitrix/main.interface.grid/templates/.default/images/listhead.png") !important;**/
}

table.bx-interface-grid table.bx-grid-sorting td.bx-sort-sign {
    background-image: url("/bitrix/components/bitrix/main.interface.grid/templates/.default/images/sort_no.gif") !important;
	background-color: transparent !important;
}

table.bx-interface-grid table.bx-grid-sorting td.bx-sort-up {
    background-image: url("/bitrix/components/bitrix/main.interface.grid/templates/.default/images/sort_up.gif") !important;
	background-color: transparent !important;
}

table.bx-interface-grid table.bx-grid-sorting td.bx-sort-down {
    background-image: url("/bitrix/components/bitrix/main.interface.grid/templates/.default/images/sort_down.gif") !important;
	background-color: transparent !important;
}

table.bx-interface-grid td {
	padding:6px !important;
}

table.bx-edit-table td.bx-padding {
	padding-top: 6px!important;
}





div.empty {width:1px; height:1px; overflow:hidden;}

/* Edit form*/
div.bx-interface-form {margin:16px 0px 16px 0px;}
div.bx-interface-form div.bx-buttons {padding:10px; height:44px; border:1px solid #C2C2C2; border-bottom:1px solid #D4D4D4; border-top:none; background-color:#FAFAFA; background-image:url(images/buttons_bg.png); background-position:left top; background-repeat:repeat-x; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}

/* Tab controls*/
table.bx-edit-tabs {border-collapse:separate;}
table.bx-edit-tabs table {border-collapse:separate;}
table.bx-edit-tabs td {font-size:12px; font-weight:bold; color:#7C7C7C; white-space:nowrap; border-bottom:4px solid #878787; padding:0px;}
table.bx-edit-tabs td.bx-tab-container {border:none; cursor:pointer; cursor: hand;}
table.bx-edit-tabs td.bx-tab-container-selected, table.bx-edit-tabs td.bx-tab-container-disabled {cursor:default;}
table.bx-edit-tabs td.bx-tab-container-disabled td {border:none; color:#D7D7D7;}

table.bx-edit-tabs td.bx-tab-indent div.empty {width:8px; height:29px;}
table.bx-edit-tabs td.bx-tab-left div.empty {width:3px; height:29px; background-image:url(images/edit/tab_l.gif);}
table.bx-edit-tabs td.bx-tab-right div.empty {width:18px; height:29px; background-image:url(images/edit/tab_r.gif);}
table.bx-edit-tabs td.bx-tab {vertical-align:top; padding:8px 3px 0px 10px; background-image:url(images/edit/tab_bg.gif);text-decoration:none;}
table.bx-edit-tabs td.bx-tab-left-selected, table.bx-edit-tabs td.bx-tab-selected, table.bx-edit-tabs td.bx-tab-right-selected, table.bx-edit-tabs td.bx-tab-right-last-selected {border:none;}
table.bx-edit-tabs td.bx-tab-left-selected div.empty {width:3px; height:29px; background-image:url(images/edit/tab_l_sel.png);}
table.bx-edit-tabs td.bx-tab-right-selected div.empty {width:18px; height:29px; background-image:url(images/edit/tab_r_sel.png);}
table.bx-edit-tabs td.bx-tab-selected {color:white; vertical-align:top; padding:7px 3px 0px 10px; background-image:url(images/edit/tab_bg_sel.png);}
table.bx-edit-tabs td.bx-tab-left-hover div.empty {width:3px; height:29px; background-image:url(images/edit/tab_l_hov.gif);}
table.bx-edit-tabs td.bx-tab-right-hover div.empty {width:18px; height:29px; background-image:url(images/edit/tab_r_hov.gif);}
table.bx-edit-tabs td.bx-tab-hover {vertical-align:top; padding:8px 3px 0px 10px; background-image:url(images/edit/tab_bg_hov.gif); text-decoration:none;}

table.bx-edit-tabs a.bx-context-button {display:inline-block; border:0px; margin:1px; outline:none;}
table.bx-edit-tabs a.bx-context-button:hover {margin:0px; border:1px solid #AEB6C2; background-color:#DBE3F2;}
table.bx-edit-tabs a.bx-context-button span {cursor:pointer; display:inline-block; background-repeat:no-repeat; background-position:3px 3px; height:18px; width:18px; border:0px;}
table.bx-edit-tabs a.bx-down span {background-image:url(images/buttons/show.gif); }
table.bx-edit-tabs a.bx-up span {background-image:url(images/buttons/hide.gif); }
table.bx-edit-tabs a.bx-form-menu span {width:26px; background-image:url(images/buttons/menu.gif);}
table.bx-edit-tabs a.pressed {margin:0px; border:1px solid #AEB6C2; background-color:white;}

/* Tab inside edit form */
table.bx-edit-tab {border:1px solid #CFCFCF; border-top:none; width:100%; border-collapse:separate; background-color:#FFFFFF;}
table.bx-edit-tab td {padding:0;}

/* Edit tab title*/
div.bx-edit-tab-title {background-color:#E8E8E8; padding-left:8px;}
table.bx-edit-tab-title {width:100%; border-collapse:separate;}
table.bx-edit-tab-title td.bx-icon {padding:5px 5px 5px 0px; width:32px; height:32px;}
table.bx-edit-tab-title td.bx-form-title {width:100%; padding:10px 0px 10px 0px; font-size:140%; color:black; font-weight:bold; font-family:Arial,helvetica,sans-serif;}

/* Edit table */
div.bx-edit-table {margin:10px;}
table.bx-edit-table {width:100%; border-collapse:separate;}
table.bx-edit-table td {font-size:100%; padding:6px; color:black; background-color:#FFFFFF; background-image:url(images/row_bg.gif); background-position:left top; background-repeat:repeat-x;}
table.bx-edit-table tr.bx-top td {background-image:none;}
table.bx-edit-table tr.bx-after-heading td {background-image:none;}
table.bx-edit-table td.bx-field-name {width:30%; text-align:right; vertical-align:top; }
table.bx-edit-table td.bx-field-value {vertical-align:top;}
table.bx-edit-table td.bx-padding {padding-top:9px;}
table.bx-edit-table td.bx-heading {color:black; font-weight:bold; background-color:#E8E8E8; background-image:none;}
table.bx-edit-table table td {padding:0px; border:none; background-image:none;}
table.bx-edit-table table.bx-edit-table td {padding:4px;}
table.bx-edit-table div {font-size:100%;}
span.required {color:red;}

/* settings window */
option.bx-section {background-color:#E8E8E8;}

/*form menu icons*/
td.popupmenu div.popupitem div.form-settings {background-image:url(images/buttons/settings.gif);}
td.popupmenu div.popupitem div.form-settings-off {background-image:url(images/buttons/settings_off.gif);}
td.popupmenu div.popupitem div.form-settings-on {background-image:url(images/buttons/settings_on.gif);}
td.popupmenu div.popupitem div.form-themes {background-image:url(images/buttons/themes.gif);}

a.hover {text-decoration:none;}