.report-wrapper{
    font-family: 'times new roman', serif;
    font-size: 14px;
    width: 665px;
}

.table-header-wrapper{
    border: none;
    width: 100%;
    font-size: 16px;
}

.table-header-left{
    border: 1px solid #000000;
    border-collapse: collapse;
    width: 380px;
}

.table-header-left tr td{
    border: 1px solid #000000;
    padding: 5px;
}

.table-header-left tr td.col-1{
    width: 100px;
}

.col-utv{
    text-align: right;
    vertical-align: top;
}

.report-wrapper h2{
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.report-wrapper p{
    font-size: 14px;
    text-indent: 45px;
    text-align: left;
}

.report-table{
    border-collapse: collapse;
    margin-top: -1px;
    width: 100%;
}

#report-table-header tr th{
    text-align: center;
}

.report-table tr td, .report-table tr th{
    border: 1px solid #000000;
    padding: 5px;
}

.report-table-td-1{
    width: 50px;
    text-align: center;
}

.report-table-td-2{
    width: 300px;
}

.report-table-td-3{
    width: 90px;
    text-align: center;
}

.report-table-td-4{
    text-align: center;
}

.table-footer{
    width: 100%;
}

.report-footer{
    margin-top: 30px;
}

.table-footer tr td{
    padding: 0 5px;
    font-size: 16px;
}

.table-footer .left{
    text-align: left;
}

.table-footer .right{
    text-align: right;
}

.table-footer p{
    margin: 0;
}

@media print{
    * {
        -webkit-print-color-adjust: exact;
        /*background-color: transparent;*/
    }

    body{
        background-color: #fff;
        padding: 0;
        margin: 0;
    }

    .bx-layout-inner-inner-table{
        background-color: #fff;
    }

    .pagebreak{
        /*page-break-after: auto;*/
        page-break-inside:avoid;
    }


    #bx_b24_menu, #header, #bx-panel, .bx-layout-header, .pagetitle-wrap, .bx-layout-inner-left, .sidebar, .footer,
    .bx-layout-inner-table > tbody > tr:nth-child(2), .bx-layout-inner-inner-right, .feed-up-btn, .bx-notifier-panel, .feed-up-btn, .feed-up-btn-icon   {
        display: none;
    }

    #workarea{
        padding: 0 !important;
    }

}