.sidebar-widget.widget-informer .sidebar-widget-top {
	background-position-y: -511px;
}
.sidebar-widget.widget-informer .sidebar-widget-item {
	margin-bottom: 0px;
}
.sidebar-widget.widget-informer .sidebar-widget-item small {
	display: block;
	width: 140px;
	float: left;
	text-align: center;
	margin-top: 5px;
}
.sidebar-widget.widget-informer .weather-info {
	display: block;
	clear: both;
	overflow: hidden;
}
.sidebar-widget.widget-informer .traffic-info, 
.sidebar-widget.widget-informer .weather-traffic {
	display: block;
	float: left;
}
.sidebar-widget.widget-informer .city-info {
	text-align: left;
	background: aliceblue;
}
.sidebar-widget.widget-informer .city-info:hover {
	background: aliceblue;
}
.sidebar-widget.widget-informer .weather-traffic {
	height: 50px;
	width: 50px;
	border-radius: 30px;
	position: relative;
	box-shadow: inset 0px 8px 0px rgba(0,0,0,0.3);
}
.sidebar-widget.widget-informer .weather-level {
	position: absolute;
	font-size: 38px;
	color: transparent;
	line-height: 55px;
	text-align: center;
	width: 50px;
	text-shadow: 0px 0px 1px rgba(255,255,255,1), -1px 0px 0px black, 0px -1px 0px black;
}
.sidebar-widget.widget-informer .traffic-info {
	margin-left: 10px;
	line-height: 50px;
}
.sidebar-widget.widget-informer .weather-info {
	box-shadow: inset 0px 6px 9px rgba(0,0,0,0.1);
}
.sidebar-widget.widget-informer .weather-info:hover {
	cursor: default;
	background: none;
}
.sidebar-widget.widget-informer .weather-info .weather-name {
	clear: both;
	display: block;
}
.sidebar-widget.widget-informer .weather-info .weather-daypart {
	float: left;
	margin: 0 5px;
	text-align: center;
	width: 60px;
}
.sidebar-widget.widget-informer .weather-info .weather-daypart.big_picture {
	box-shadow: 4px 0px 13px -8px;
	padding: 0 20px 0 0;
	margin: 0 10px 0 0;
	min-height: 100px;
	display: block;
}
.sidebar-widget.widget-informer .weather-info .weather-daypart.big_picture span.weather-temp-name {	
	font-size: 24px;
}
.sidebar-widget.widget-informer .weather-info .weather-daypart.no_picture span {
	font-size: 10px;
	display: inline;
}
.sidebar-widget.widget-informer .weather-info .weather-daypart.no_picture img {
	display: none;
}
.sidebar-widget.widget-informer .weather-info .weather-daypart span.weather-temp-name {
	font-weight: 400;
	text-align: center;
	width: 48px;
}
.sidebar-widget.widget-informer .weather-info .weather-daypart span.weather-temp-celc-name {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
}
.sidebar-widget.widget-informer .weather-info .weather-daypart span.weather-temp-celc {
	top: -5px;
	position: relative;
}
.sidebar-widget.widget-informer .weather-info .weather-daypart img.weather-image {
	margin-top: 5px;
}
.sidebar-widget.widget-informer .weather-info .weather-daypart span {
	margin-top: 2px;
	margin-bottom: 2px;
	text-transform: capitalize;
}
.sidebar-widget.widget-informer .weather-info .weather-daypart .weather-temp {
	display: block;
	word-spacing: -4px;
}

.sidebar-widget.widget-informer .sidebar-widget-item .currency-info {
	clear: both;
	overflow: hidden;
	margin-right: 15px;
	margin-bottom: 15px;
}
.sidebar-widget.widget-informer .sidebar-widget-item .currency-info:last-child {
	margin-bottom: 0px;
}
.sidebar-widget.widget-informer .sidebar-widget-item .currency-info .currency-name {
	float: left;
}
.sidebar-widget.widget-informer .sidebar-widget-item .currency-info .currency-market {
	float: right;
}
.sidebar-widget.widget-informer .sidebar-widget-item .currency-info .currency-market span {
	width: 80px;
	display: inline-block;
	text-align: right;
}