
div#COMPANY_form table.bx-edit-table td
{
	background-color: transparent;	
}

div#COMPANY_form table.bx-edit-table td.bx-heading
{
	border-top: 1px solid #fff;
	background-color: #ffeba5;
}

div#COMPANY_form
{
    background-color: #FFF6D8;
    border-left-width: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 0;
}

div#COMPANY_form table.bx-edit-table td.bx-add-fields-section
{
	background-image: none;
	border: 1px solid #b7b7b7;
	background-color: #ffeba5;	
}

div#COMPANY_form table.bx-edit-table td.bx-add-fields-section a
{
	background-image: url(/bitrix/components/bitrix/crm.lead.convert/templates/.default/images/arrow_close.gif);
	background-repeat: no-repeat;
	background-position: 10px 6px;
	text-decoration: none;
	color: #2e2e2e;
	font-weight: bold;
	margin-left: 15px;
	padding-left: 25px; 
}

div#COMPANY_form table.bx-edit-table td.bx-add-fields-section a.close
{
	background-image: url(/bitrix/components/bitrix/crm.lead.convert/templates/.default/images/arrow_down.gif);
	background-position: 10px 5px;
}

div#COMPANY_form table.bx-edit-table td.bx-add-name
{	
	border-left: 1px solid #b7b7b7;
}

div#COMPANY_form table.bx-edit-table td.bx-add-value
{	
	border-right: 1px solid #b7b7b7;
}

div#COMPANY_form table.bx-edit-table td.bx-add-bottom
{	
	border-bottom: 1px solid #b7b7b7;
}