.report-table{
    margin-top: -1px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000000;
    font-size: 12px;
    font-family: arial, tahoma;
}

#report-table-header{
    margin-top: 20px;
}

.report-table tr th{
    text-align: center;
}

.report-table tr td, .report-table tr th{
    border: 1px solid #000000;
    padding: 5px 0 5px 5px;
}

.vertcol{
    transform: rotate(-90deg);
    display: inline-block;
    width: 5px;
    margin-top: 62px;
    margin-bottom: -7px;
}

#report-head h2{
    font-size: 16px;
    color: #000000;
    text-align: left;
    margin-top: 0;
}

#report-head p{
    font-size: 13px;
    color: #000000;
    text-align: left;
    margin: 3px 0 8px;
    font-weight: bold;
}

.report-table-td-1{
    width: 145px;
}

.report-table-td-2{
    width: 150px;
}

.report-table-td-4{
    width: 180px;
}

.report-table-td-5, .report-table-td-6, .report-table-td-7, .report-table-td-8{
    width: 35px;
    text-align: center;
}

.report-table-td-9{
    width: 145px;
}

@media print{
    * {
        -webkit-print-color-adjust: exact;
        /*background-color: transparent;*/
    }

    body{
        background-color: #fff;
        padding: 0;
        margin: 0;
    }

    .bx-layout-inner-inner-table{
        background-color: #fff;
    }

    .pagebreak{
        /*page-break-after: auto;*/
        page-break-inside:avoid;
    }


    #bx_b24_menu, #header, #bx-panel, .bx-layout-header, .pagetitle-wrap, .bx-layout-inner-left, .sidebar, .footer,
    .bx-layout-inner-table > tbody > tr:nth-child(2), .bx-layout-inner-inner-right, .feed-up-btn, .bx-notifier-panel, .feed-up-btn   {
        display: none;
    }
}