<script type="text/ejs" id="kanbanEditorCommonData">
    <div class="handle"></div>

    <div class="body">
        <div class="border">
            <div class="properties">
                <div class="projectNames">
                    <div class="projectTitle"><span><%= title %></span><i title="<?= $this->t('CHANGE_GROUP_NAME') ?>"></i></div>
                    <a title="<?= $this->t('GOTO_GROUP_SETTINGS') ?>" href="" class="browse jsSystemSettings" target="_blank"></a>
                </div>

                <div class="line notifications">
                    <div class="value">
                        <input type="checkbox" id="sendUserNotifications" value="notify" <%= (notify == 'Y') ? 'checked' : '' %>>
                    </div>
                    <div class="title"><span><label for="sendUserNotifications"><?= $this->t('USER_NOTIFICATIONS') ?></label></span></div>
                </div>

                <div class="line responsibleChange">
                    <div class="title"><span><label for="responsibleChangeOnTaskActions"><?= $this->t('RESPONSIBLE_CHANGE_BY_COLUMN') ?></label></span></div>
                    <div class="value">
                        <select name="default_responsible" <%= chosenSelect(responsibleChange) %>>
                            <option value="N"><?= $this->t('BOARD_CHANGE_RESPONSIBLE_NO') ?></option>
                            <option value="F"><?= $this->t('BOARD_CHANGE_RESPONSIBLE_FORWARD') ?></option>
                            <option value="Y"><?= $this->t('BOARD_CHANGE_RESPONSIBLE_YES') ?></option>
                        </select>
                        <?/*input type="checkbox" id="responsibleChangeOnTaskActions" value="change" <%= (responsibleChange == 'Y') ? 'checked' : '' %>*/?>
                    </div>
                </div>

                <div class="line defaultResponsible">
                    <div class="title"><span><?= $this->t('DEFAULT_RESPONSIBLE') ?></span></div>
                    <div class="value">
                        <select name="default_responsible" <%= selectDefaultResponsible(responsible) %>>
                            <% if (window.SCRUMBAN.isFeatureEnabled('task.noResponsible')) { %><option value=""><?= $this->t('BOARD_ASSIGN_TASKS_1') ?></option><% } %>
                            <option value="0"><?= $this->t('BOARD_ASSIGN_TASKS_2') ?></option>
                            <option value="1"><?= $this->t('BOARD_ASSIGN_TASKS_3') ?></option>
                        </select>

                        <div class="responsible add" <% if (!(responsible > 0)) { %> style="display: none"<% }%> ></div>
                    </div>
                </div>

                <div class="line taskTypesBlock">
                    <div class="title"><span><?= $this->t('AVAILABLE_TASK_TYPES') ?></span></div>
                    <div><select multiple name="taskTypes" data-placeholder="<?= $this->t('SELECT_TASK_TYPES'); ?>"></select></div>
                </div>
            </div>

            <div class="responsiblesBlock">
                <p><?= $this->t('GROUP_MEMBERS') ?></p>
                <div class="responsiblesList">
                <% for (var i = 0; i < userList.length; i++) { %>
                    <% if (userList[i].noAvatar || !userList[i].avatar) { %>
                        <div class="item <%= userList[i].getStatus() %>"
                            style="background-color: <%= userList[i].avatarColor %>;"
                            title="<%= userList[i].getFullName() %>">
                            <span></span>
                            <%= userList[i].avatarLetters %></i>
                        </div>
                    <% } else { %>
                        <div class="item <%= userList[i].getStatus() %>"
                            <% if (userList[i].avatar) { %> style="background-image: url('<%= userList[i].avatar %>');"<% }%>
                            title="<%= userList[i].getFullName() %>">
                            <span></span>
                        </div>
                    <% } %>
                <% } %>
                </div>
            </div>

        </div>
    </div>
</script>

<script type="text/ejs" id="boardResponsible">
    <%== $.View('gridTaskResponsible', {responsible: responsible})%>
</script>
