<script type='text/ejs' id='TaskDetailsFiles'>
    <%
    for(var i = 0; i < files.length; i++) {
    if (files[i].image) { %>
    <div class="file ico ico-<%= files[i].ico %>">
        <i></i>
        <% if (!this.hideDel) { %>
            <b class="jsFileDelete" title="<?= $this->t('DELETE_FILE') ?>" data-id="<%= files[i].id %>"></b>
        <% } %>
        <a target="_blank" href="<%= files[i].downloadUrl ? files[i].downloadUrl : files[i].src %>" title="<%= files[i].originalName %>"><%= files[i].originalName %></a>
        <u class='hiddenCopyableText'><%= files[i].downloadUrl ? files[i].downloadUrl : files[i].src %><br></u>
        <span><%= files[i].size %>, <%= Date.fromPhp(files[i].timestampX).format("dd mmm yyyy, HH:MM") %></span>
        <div class="image"><a target="_blank" href="<%= files[i].downloadUrl ? files[i].downloadUrl : files[i].src %>"><div style="background-image:url('<%= files[i].image %>');"></div></a></div>
        <u class='hiddenCopyableText'><br></u>
        <% if (files[i].idDisk) { %><input type="hidden" class="js-comment-file" value="<%= files[i].idDisk %>" /><% } %>
    </div>
    <% }
    }

    %><div class="clear"></div><%

    for(var i = 0; i < files.length; i++) {
    if (!files[i].image) { %>
    <div class="file ico ico-<%= files[i].ico %>">
        <i></i>
        <% if (!this.hideDel) { %>
            <b class="jsFileDelete" title="<?= $this->t('DELETE_FILE') ?>" data-id="<%= files[i].id %>"></b>
        <% } %>
        <a target="_blank" href="<%= files[i].downloadUrl ? files[i].downloadUrl : files[i].src %>" title="<%= files[i].originalName %>"><%= files[i].originalName %></a>
        <u class='hiddenCopyableText'><%= files[i].downloadUrl ? files[i].downloadUrl : files[i].src %><br></u>
        <span><%= files[i].size %>, <%= Date.fromPhp(files[i].timestampX).format("dd mmm yyyy, HH:MM") %></span>
        <u class='hiddenCopyableText'><br></u>
        <% if (files[i].idDisk) { %><input type="hidden" class="js-comment-file" value="<%= files[i].idDisk %>" /><% } %>
    </div>
    <% }
    } %>
    <div class="clear"></div>
</script>
