<script type='text/ejs' id='detailEditComment'>
    <div class="comment" data-id="<%= id %>">
        <i class='hiddenCopyableText'><br></i>
        <% if (this.author) {
            %><div class="person <%= author.getStatus() %>" <%
                if (author.noAvatar || !author.avatar) {
                    %>style="background-color: <%= author.avatarColor %>;" <%
                } else {
                    %>style='background-image: url("<%= author.bigAvatar %>")'<%
                }
                %> title="<%= author.getFullName() %>">
                <span></span>
                <% if (author.noAvatar || !author.avatar) { %><%= author.avatarLetters %><% } %>
            </div><%
        } %>

        <div class="commentContent">
            <% var currentUserId = (window.jsonBoard ? window.jsonBoard.currentUser.id : window.boardSettings.currentUser.id);
            if (this.authorId == currentUserId) { %>
                <i class='delete jsDeleteComment' title='<?= $this->t("DELETE_COMMENT"); ?>'></i>
                <i class='edit jsEditComment' title='<?= $this->t("EDIT_COMMENT"); ?>'></i>
            <% } %>
            <div class="name"><%= author.getFullName() %></div>
            <div class="date"><%= postDate %></div>
            <div class="text">
                <%== postMessage %>
            </div>
        </div>
        <% if (window.SCRUMBAN.server.filesInComments && this.files) { %>
            <div class="files">
                <%== $.View('TaskDetailsFiles', { files: this.files, hideDel: true }) %>
            </div>
        <% } %>
    </div>
</script>
