<div class="projectCaption">
    <div class="logo jsProjectLogo" title="Bitrix Kanban"></div>

    <div class="projectBlock jsProjectSelect">
        <div class="popup projectSelectPopup"></div>
        <div class="hoverArea jsProjectHoverArea" title="<?= $this->t('CLICK_TO_SELECT_THE_PROJECT') ?>">
            <span class="jsProjectTitle"></span><i></i>
        </div>
    </div>

    <div class="sprintBlock jsSprintSelect">
        <div class="popup sprintSelectPopup">
            <select name="sprintSelector" style="visibility: hidden;"></select>
        </div>
        <div class="hoverArea jsSprintHoverArea" title="<?= $this->t('PRESS_TO_SELECT_SPRINT'); ?>">
            <span class="jsSprintTitle"></span><i></i>
        </div>
    </div>
</div>