<div class="settingsMenu jsSettingsMenu">
    <div class="popupOpener"><i></i><span><?= $this->t('TOP_MENU_SETTINGS') ?></span></div>
    <div class="popup settingsMenuPopup">
        <div class="group column-card-view">
            <h6><?= $this->t('TASK_CARDS_VIEW') ?></h6>
            <ul>
                <li><label><input type="radio" class="jsCardViewType" name="card-view-type" value="task-view-full" checked><?= $this->t('VIEW_FULL') ?></label></li>
                <li><label><input type="radio" class="jsCardViewType" name="card-view-type" value="task-view-short"><?= $this->t('VIEW_COMPACT') ?></label></li>
                <li class='gallery'><label><input type='checkbox' name='' class="jsShowImages"><?= $this->t('SETTINGS_SHOW_IMAGES') ?></label></li>
                <?/*li class='resp'><label><input type='checkbox' name='' class="jsShowResp"><?= $this->t('SETTINGS_SHOW_RESPONSIBLES_ALWAYS') ?></label></li*/?>
                <li class='column-stats'><label><input type='checkbox' name='' class="jsColumnStats"><?= $this->t('SETTINGS_SHOW_COLUMNS_STATS') ?></label></li>
            </ul>
        </div>

        <div class="group">
            <h6><?= $this->t('SHOW_COLUMNS') ?></h6>
            <ul class="availableColumnList"></ul>
        </div>

        <div class="group jsSorting">
            <h6><?= $this->t('SETTINGS_SORTING') ?></h6>
            <ul>
                <li><label><input type="radio" name="sorting" value="importance"><?= $this->t('SETTINGS_SORTING_IMPORTANCE') ?></label></li>
                <li><label><input type="radio" name="sorting" value="manual"><?= $this->t('SETTINGS_SORTING_DND') ?></label></li>
            </ul>
        </div>
        <div class="group group-button">
            <a class="button thin jsKanbanSettingsButton" href="javascript:void(0)"><?= $this->t('BOARD_SETTINGS') ?></a>
        </div>
        <div class="group group-button">
            <a class="button thin jsShowChartsButton" href="javascript:void(0)"><?= $this->t('BOARD_CHARTS') ?></a>
        </div>
    </div>
</div>
