<div class="sprintTimeBlock">
    <div class="standUpTime jsStandUpTime" title="<?= $this->t('STANDUP_TIME'); ?>">
        <i></i><span></span><input type="text" name="standUpTime" value="" maxlength="5"><button></button>
    </div>
    <div class="releaseDate jsReleaseDate" title="<?= $this->t('RELEASE_DATE'); ?>">
        <i></i><span></span><input type="text" name="releaseDate" value="" maxlength="10"><button></button>
    </div>
    <div class="deadlineDate jsDeadlineDate" title="<?= $this->t('DEADLINE_DATE'); ?>">
        <i></i><span></span><input type="text" name="deadlineDate" value="" maxlength="10"><button></button>
    </div>
</div>