<script type='text/ejs' id='detailEditLog'>
    <div class="comment">
        <i class='hiddenCopyableText'><br></i>
        <div class="person <%= author.getStatus() %>" <%
            if (author.noAvatar || !author.avatar) {
                %>style="background-color: <%= author.avatarColor %>;" <%
            } else {
                %>style='background-image: url("<%= author.bigAvatar %>")'<%
            }
            %> title="<%= author.getFullName() %>">
            <span></span>
            <% if (author.noAvatar || !author.avatar) { %><%= author.avatarLetters %><% } %>
        </div>

        <div class="commentContent">
            <div class="name"><%= author.getFullName() %></div>
            <div class="date"><%= postDate %></div>
            <% for (var i = 0; i < activity.length; i++) {
            var fieldDesc = (activity[i].fieldDesc) ? activity[i].fieldDesc : activity[i].field;
            var valueFromDesc = (activity[i].valueFromDesc) ? activity[i].valueFromDesc : activity[i].valueFrom;
            var valueToDesc = (activity[i].valueToDesc) ? activity[i].valueToDesc : activity[i].valueTo;

            if (activity[i].field == 'DURATION_PLAN_MINUTS') {
            valueFromDesc = (valueFromDesc) ? Date.toPlanFormat(valueFromDesc) : '';
            valueToDesc = (valueToDesc) ? Date.toPlanFormat(valueToDesc) : '';
            }
            %>
            <div class="text"><%
                if (activity[i].text) {
                %><%= activity[i].text %><%
                } else {
                if (activity[i].field == 'ARCHIVED') {
                if (valueFromDesc.length && !valueToDesc.length) {
                %><?= $this->t("TASKLOG_FROM_ARCHIVE"); ?><%
                } else {
                %><?= $this->t("TASKLOG_TO_ARCHIVE"); ?><%
                }
                } else if (valueFromDesc.length > 0 && valueToDesc.length > 0) {
                %><?= $this->t("TASKLOG_FIELD_CHANGE"); ?><%
                } else if (valueFromDesc.length > 0) {
                %><?= $this->t("TASKLOG_FIELD_DELETED"); ?><%
                } else if (valueToDesc.length > 0) {
                %><?= $this->t("TASKLOG_FIELD_SET_TO"); ?><%
                }
                } %>
            </div>
            <% } %>
        </div>
    </div>
</script>