<script type='text/ejs' id='detailEditTimeLog'>
    <div class="comment jsWorklogElement" data-id="<%= id %>">
        <i class='hiddenCopyableText'><br></i>
        <div class="person <%= author.getStatus() %>" <%
            if (author.noAvatar || !author.avatar) {
                %>style="background-color: <%= author.avatarColor %>;" <%
            } else {
                %>style='background-image: url("<%= author.bigAvatar %>")'<%
            }
            %> title="<%= author.getFullName() %>">

            <span></span>
            <% if (author.noAvatar || !author.avatar) { %><%= author.avatarLetters %><% } %>
        </div>

        <div class="commentContent">
            <% var currentUserId = (window.jsonBoard ? window.jsonBoard.currentUser.id : window.boardSettings.currentUser.id);
            if (this.authorId == currentUserId) { %>
                <i class='delete jsDeleteWorklog' title='<?= $this->t("DELETE_TIME_LOG"); ?>'></i>
                <i class='edit jsEditWorklog' title='<?= $this->t("EDIT_TIME_LOG"); ?>'></i>
            <% } %>
            <div class="name"><%= author.getFullName() %></div>
            <div class="date"><%= postDate %></div>
            <div class="text">
                <?= $this->t('COMMENT_TIME_LOGGED') ?> <%= Date.toPlanFormat(minutes) %>.
                <br/>
                <% if ($.trim(postMessage).length) { %>
                <?= $this->t('COMMENT_TIME_LOG_TEXT') ?> "<%= $.trim(postMessage) %>".
                <% } %>
            </div>
        </div>
    </div>
</script>
