.bx-layout-inner-inner-cont {
	background:#eef2f4;
}

.tablet-form {
	width:900px;
	margin:0 auto;
	font-size:1.7em;
}

.tablet-form table {
	margin:0 auto;
}

.tablet-form table td {
	padding:5px 0 5px 0;
	width:450px;

}

.tablet-form input[type=text] {
	margin: 0;
	min-height: 2.2em;
	text-align: left;
	border: 0;
	background: transparent none;
	-webkit-appearance: none;
	-webkit-border-radius: inherit;
	border-radius: inherit;
	padding: 3px 15px;
	line-height: 1.4em;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
	border-radius: .3125em;
	background-color: #fff;
	border:1px solid #ddd;
	color: #333;
	text-shadow: 0 1px 0 #f3f3f3;
	font-size:1.1em;
	width:400px;
}

.tablet-form input[type=text].focus {
	-webkit-box-shadow: 0 0 12px 	#3388cc /*{a-active-background-color}*/;
	-moz-box-shadow: 0 0 12px 		#3388cc /*{a-active-background-color}*/;
	box-shadow: 0 0 12px 			#3388cc /*{a-active-background-color}*/;
}

.tablet-form select {
	padding: 3px 15px;
	min-height: 2.2em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	border-radius: .3125em;
	background-color: #fff;
	border:1px solid #ddd;
	color: #333;
	text-shadow: 0 1px 0 #f3f3f3;
	font-size:1.1em;
	width:400px;
	background-color: #f6f6f6;
	border-radius: .3125em;
	cursor:pointer;
}

.tablet-form select.focus {
	-webkit-box-shadow: 0 0 12px 	#3388cc /*{a-active-background-color}*/;
	-moz-box-shadow: 0 0 12px 		#3388cc /*{a-active-background-color}*/;
	box-shadow: 0 0 12px 			#3388cc /*{a-active-background-color}*/;
}

.tablet-form tr.caption td {
	font-weight:bold;
	text-align:center;
	padding:25px 0 15px 0;
}


.tablet-form .matrix {
	margin-top:80px;
	position:relative;
}


.matrix table .filial-select {
	display:none;
	position:absolute;
	background:#fff;
	height:300px;
	width:300px;
	outline:none;
	overflow:hidden;
	right:80px;
	padding:10px;
	border:1px solid #ccc;
}

.matrix table .filial-select a {
	margin:0 5px;
}

.matrix table td.icon {
	width:30px;
}

.matrix table td.icon .iconGood {
	width:16px;
	height:16px;
	background:url("/bitrix/templates/bitrix24/images/good-16-16.png") no-repeat;
	display:none;
}

.matrix table td.icon .iconChange {
	width:16px;
	height:16px;
    background:none;
	display:block;
}

.matrix table td.priceProduct {
	padding: 30px 0 0 30px;
}





html .ui-autocomplete {
	max-height:200px;
    overflow-y: auto;
    overflow-x: hidden;
}


.fastMessage {
	background:#baed21;
	position:fixed;
	top:50px;
	left:80px;
	z-index:1000;
	color:#535b69;
	font-size:1.4em;
	text-align:center;
	padding:5px 15px;
	font-weight:bold;
	border-radius:5px;
	display:none;
}

.fastMessage.bad {
	background:red;
	color:#fff;
}



.printBP {
	position:relative;
	padding:0 0 100px 0;
}

.selectBP {
	display:none;
	position:absolute;
}

.selectBP p, .selectBP a {
	font-size:16px;
}