<script type='text/ejs' id='projectPanelProjectOwner'>
    <div class='header'>
        <i></i>
        <% if (this.model.groupId && this.model.userList && this.model.userList.length) { %>
            <h3><?= $this->t('PROJECT_OWNER'); ?></h3><%
            var ownerUserObject = false;
            for (var i = 0; i < model.userList.length; i++) {
                if (model.userList[i].id == model.ownerId) {
                    ownerUserObject = model.userList[i];
                    break;
                }
            }
            if (ownerUserObject) {
                %><%== $.View('peopleItem', {user: ownerUserObject}) %><%
            }
        }

        if (isExtendedRightsManagement) {
            %><div class='selectitem'>
                <select <% if (!canEdit) { %> disabled <% } %> class='jsProjectRights'>
                    <option value="1" <% if (model.scrumbanEnabled == 1) { %> selected <% } %>><?= $this->t('USE_SCRUMBAN_FOR_PROJECT_FULL') ?></option>
                    <option value="2" <% if (model.scrumbanEnabled == 2) { %> selected <% } %>><?= $this->t('USE_SCRUMBAN_FOR_PROJECT_PART') ?></option>
                    <option value="0" <% if (model.scrumbanEnabled == 0) { %> selected <% } %>><?= $this->t('USE_SCRUMBAN_FOR_PROJECT_DONT') ?></option>
                </select>
                <br>
                <span data-enabled="1" <% if (model.scrumbanEnabled != 1) { %> style="display:none;" <% } %>><?= $this->t('USE_SCRUMBAN_FOR_PROJECT_FULL_TEXT') ?></span>
                <span data-enabled="2" <% if (model.scrumbanEnabled != 2) { %> style="display:none;" <% } %>><?= $this->t('USE_SCRUMBAN_FOR_PROJECT_PART_TEXT') ?></span>
                <span data-enabled="0" <% if (model.scrumbanEnabled != 0) { %> style="display:none;" <% } %>><?= $this->t('USE_SCRUMBAN_FOR_PROJECT_DONT_TEXT') ?></span>
            </div><%
        }
        %>
    </div>
</script>
