<div class="archivePanel fixedPanel jsArchivePanel task-view-short bodyColumn">
    <div class="panelBody">
        <div class="header"><a class="hide"></a><div class="title"><?= $this->t('ARCHIVE') ?></div></div>

        <div class="body">
            <div class="icons">
                <div class="right miniblock hours" title="<?= $this->t('TIME_SPENT') ?>"><b></b>0h/0h</div>
                <div class="left miniblock subtasks" title="<?= $this->t('TASK_IN_ARCHIVE') ?>"><b></b>0</div>
                <div class="clear"></div>
            </div>

            <div class="scrollBlock jsArchiveScrollArea">

            </div>
        </div>

        <div class="resizer"><i></i></div>
    </div>

</div>