<div class="filterPanel fixedPanel jsFilterPanel">

    <div class="panelButton jsFilterOpenButton"><span><?= $this->t('FILTER') ?></span></div>
    <div class="panelButton jsArchiveOpenButton"><span><?= $this->t('ARCHIVE') ?></span></div>

    <div class="panelBody">

        <div class="header">
            <a class="hide"></a>
            <div class="title"><?= $this->t('FILTER') ?></div>
        </div>

        <div class="body">
            <div class="field search">
                <div class="value">
                    <i></i><input type="text" placeholder="<?= $this->t('SEARCH') ?>">
                </div>
            </div>

            <div class="field group task-author">
                <div class="title">
                    <?= $this->t('FILTER_BY_AUTHOR'); ?>
                    <a class="add-user" href='#'><i></i></a>
                </div>
                <div class="value">
                    <div class="people">
                        <div class='users-scroll-pane'></div>
                    </div>
                </div>
            </div>

            <div class="field group task-responsible">
                <div class="title">
                    <?= $this->t('FILTER_BY_RESPONSIBLE'); ?>
                    <a class="add-user" href='#'><i></i></a>
                </div>
                <div class="value">
                    <div class="people">
                        <div class='users-scroll-pane'></div>
                    </div>
                </div>
            </div>

            <div class="field markers">
                <div class="value">
                    <div class="list">
                        <!-- added with js -->
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="field tags">
                <div class="value">
                    <select multiple="multiple" data-placeholder="<?= $this->t('FILTER_BY_TAG') ?>"></select>
                </div>
            </div>

            <div class="field type-task">
                <div class="value">
                    <select multiple="multiple" data-placeholder="<?= $this->t('TYPE_OF_TASK') ?>"></select>
                </div>
            </div>

            <div class="field priority-task">
                <div class="value">
                    <select multiple="multiple" data-placeholder="<?= $this->t('PRIORITY') ?>" data-choices="icon"></select>
                </div>
            </div>

            <div class="field hide_shad">
                <div class="value">
                    <span class="switch">
                        <span data-action="darken" class="jsDarkenButton">
                            <?= $this->t('TO_DARKEN') ?>
                            <input class="styled" type="radio" name="hideType" value="1">
                        </span>
                        <span data-action="hide" class="jsHideButton checked">
                            <?= $this->t('TO_HIDE') ?>
                            <input class="styled" type="radio" name="hideType" value="2">
                        </span>
                    </span>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="field apply" style="display: none;">
                <div class="value">
                    <span class="button">
                        <i></i><?= $this->t('APPLY_FILTER') ?>
                    </span>
                </div>
            </div>

            <div class="field reset">
                <div class="value">
                    <span class="button">
                        <i></i><?= $this->t('RESET_FILTER') ?>
                    </span>
                </div>
            </div>

        </div>
    </div>

</div>

<?php echo $this->partial('ejs/panel/filter.ejs'); ?>
