<script type="text/ejs" id="tplProblemView">
    <i class="startEdit"><%= ((messageHtml != false) || (message != "")) ? String._('PROBLEM_IN_TASK') + ": " : "" %></i><%= messageHtml != false ? messageHtml : message %>
</script>