html {-webkit-text-size-adjust: none;}
body {-webkit-tap-highlight-color: rgba(0, 0, 0, 0.0);outline: none; -webkit-tap-highlight-color: transparent;}
a {color: #2067b0;text-decoration: none;-webkit-transition: border-bottom-color 0.2s linear;transition: border-bottom-color 0.2s linear;}
a:hover {color: #2067b0;text-decoration: none;}

.im-page { margin: 0; padding: 0;}
.im-page-right { background-color: #293139; }

.bx-messenger-hide { display: none; }
.bx-messenger-cl { border-top:1px solid #e8eaeb; border-bottom: 1px solid #e8eaeb; margin-top: 2px; height: 334px; overflow:auto; overflow-x: hidden; clear: both; }
.bx-messenger-cl-wrap { height: 64px;
	background-color: #424f5b; }
.bx-messenger-cl-item-empty { font: 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; color: #606162; height: 21px; text-align: center; padding-top: 117px; }
.bx-messenger-cl-item-load { font: 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; color:#606162; height: 21px; text-align: center; padding-top: 190px; padding-left: 15px; }
.bx-messenger-cl-item-load:before {
	background: url("./images/im/sprite-v4.png") no-repeat scroll -45px -117px / 105px auto rgba(0, 0, 0, 0);
	background-size:105px auto;
	content:"";
	position:absolute;
	height: 26px;
	width: 26px;
	-webkit-animation: imRotate360 1.2s linear infinite; animation: 1.2s linear 0s normal none infinite running imRotate360;
	margin-left: -32px;
	margin-top: -3px;
}
.bx-messenger-cl-item {
	cursor: pointer; display: block; text-decoration: none!important; transition: background .3s;padding: 12px 11px 12px 8px;border-top: 1px solid #f7f7f7;height: 40px;border-left: 5px solid #fff; transition: border .3s;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
.bx-messenger-cl-item-active {border-left-color: #a6c131;}
.bx-messenger-cl-user { vertical-align:top; display:block; font: 15px/32px "Helvetica Neue", Helvetica, Arial, sans-serif; color:#181818;overflow:hidden;text-overflow: ellipsis;white-space:nowrap;  }
.bx-messenger-cl-avatar {float: left; white-space: nowrap;display: inline-block; width: 40px; height: 40px;vertical-align: middle; margin-right: 9px;  }
.bx-messenger-cl-avatar-img {display: inline-block; width: inherit; height: inherit; border:0;border-radius: 50%; background: url("./images/im/sprite-v4.png") no-repeat scroll -38px -148px / 105px auto #fff; background-size:105px auto;}
.bx-messenger-cl-avatar-img-default { background: url("./images/im/sprite-v4.png") no-repeat scroll -41px 0; background-size:105px auto; }
.bx-messenger-cl-avatar-group .bx-messenger-cl-avatar-img-default { background-position: 0 0px; }
.bx-messenger-cl-avatar-call .bx-messenger-cl-avatar-img-default { background-position: 0px -42px; }
.bx-messenger-cl-status {height: 13px; width: 13px; display:inline-block; margin-left: -10px; margin-top: 16px; vertical-align: top; background: url("./images/im/sprite-v4.png") repeat scroll -2px -306px; background-size:105px auto;}
.bx-messenger-cl-avatar-group .bx-messenger-cl-status {display: none;}
.bx-messenger-cl-avatar-call .bx-messenger-cl-status {display: none;}

.bx-messenger-input-close { margin: 7px 0 0; float:right; padding-left: 5px;transition: opacity .2s; width: 16px; height: 17px; background: url("./images/im/sprite-v4.png") no-repeat scroll -10px -146px / 105px auto rgba(0, 0, 0, 0); background-size:105px auto; text-decoration: none; opacity: 0; cursor: pointer;}
.bx-messenger-input-wrap-active .bx-messenger-input-close { opacity: 1 }

.bx-messenger-cl-status-vacation .bx-messenger-cl-user,
.bx-messenger-cl-status-offline .bx-messenger-cl-user { color: #8c8c8c}
.bx-messenger-cl-status-vacation .bx-messenger-cl-avatar-img,
.bx-messenger-cl-status-offline .bx-messenger-cl-avatar { opacity: 0.5;z-index: 1;}
.bx-messenger-panel-avatar-status-vacation .bx-messenger-panel-avatar-img,
.bx-messenger-panel-avatar-status-offline .bx-messenger-panel-avatar-img { opacity: 0.6; }
.bx-messenger-cl-group {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
.bx-messenger-cl-group-open {}
.bx-messenger-cl-group-wrapper { height: 0; opacity: .6; display: block; overflow: hidden; padding-top: 0px; white-space: nowrap; transition: opacity .4s, padding .2s  }
.bx-messenger-cl-count {
	display:inline-block; float:right; position: relative; z-index: 1;
	font: 11px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align: top;
	border-radius: 12px;
	background-color: #ff1919;
	background-position: 7px -83px;
	color: #fff;
	text-shadow: none;
	margin-top: 7px;
	margin-left: 3px;
	margin-right: -2px;
	-webkit-animation: imOpacityFrom05To1 .4s 1; animation: imOpacityFrom05To1 .4s 1;
}
.bx-messenger-cl-count-digit { padding: 2px 6px;display: inline-block;}

.bx-messenger-cl-group-title {
	cursor: pointer;
	color: #656667;
	font: 12px/42px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 0 1px 1px #fff;
	overflow:hidden;text-overflow: ellipsis;white-space:nowrap;
	vertical-align: top;
	padding: 1px 9px 0 22px;
	position:relative;
	transition: background .18s;
	background: #f7f7f7;
	margin-top: 2px;
	margin-bottom: 2px;
	display: block;
}
.bx-messenger-cl-group-title:first-child { margin-top: 0 }
.bx-messenger-cl-group-title:hover { background-color: #f0f2f3}

.bx-messenger-cl-group-title:before {
	background: url("./images/im/sprite-v4.png") no-repeat scroll 0 -173px / 105px auto rgba(0, 0, 0, 0);
	background-size:105px auto;
	content:"";
	height: 11px;
	left: 8px;
	top: 16px;
	position:absolute;
	width: 9px;
}

.bx-messenger-cl-group-open .bx-messenger-cl-group-title {color: #656667;}
.bx-messenger-cl-group-open .bx-messenger-cl-group-title:before {background-position: 1px -147px;top: 14px;left: 6px;}
.bx-messenger-cl-group-open .bx-messenger-cl-group-wrapper { height: auto;	opacity: 1; }

.bx-messenger-recent-wrap {}
.bx-messenger-recent-wrap .bx-messenger-cl-item:first-child { border-top: 0}
.bx-messenger-recent-wrap .bx-messenger-cl-item {}
.bx-messenger-recent-wrap .bx-messenger-cl-avatar {background-position: 3px -658px;}
.bx-messenger-recent-wrap .bx-messenger-cl-user { line-height: 16px;  }
.bx-messenger-recent-wrap .bx-messenger-cl-user-title { overflow:hidden;text-overflow: ellipsis;white-space:nowrap; padding-top: 3px; }
.bx-messenger-recent-wrap .bx-messenger-cl-user-desc { font-size: 13px; color: #949595; overflow:hidden;text-overflow: ellipsis;white-space:nowrap;display: inline-block;line-height: 16px;padding-top: 2px;}
.bx-messenger-cl-user-reply { display: inline-block; background: url("./images/im/sprite-v4.png") no-repeat scroll -22px -95px transparent; height: 19px; width: 14px; vertical-align: middle; background-size:105px auto;}
.bx-messenger-recent-wrap .bx-messenger-cl-status { margin-left: -11px; margin-top: 30px; }
.bx-messenger-recent-wrap .bx-messenger-cl-count { margin-top: 1px; }
.bx-messenger-recent-group {overflow:hidden;text-overflow: ellipsis;white-space:nowrap;padding: 1px 9px 0px;vertical-align: top;background: #f7f7f7;}
.bx-messenger-recent-group-title {display: inline-block;font: 12px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;color: #7d7d81;text-shadow: 0 1px 1px #fff;padding: 0 7px 0 5px;vertical-align: top;}
.bx-messenger-recent-group-title:first-letter {text-transform: uppercase}

.bx-messenger-cl-status-online .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-online .bx-messenger-panel-avatar-status { background-position: -2px -306px;}
.bx-messenger-cl-status-offline .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-offline .bx-messenger-panel-avatar-status { background-position: 0 15px; }
.bx-messenger-cl-status-birthday .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-birthday .bx-messenger-panel-avatar-status { background-position: -32px -306px; }
.bx-messenger-cl-status-dnd .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-dnd .bx-messenger-panel-avatar-status{ background-position: -2px -336px; }
.bx-messenger-cl-status-na .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-na .bx-messenger-panel-avatar-status{ background-position: -17px -336px;}
.bx-messenger-cl-status-away .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-away .bx-messenger-panel-avatar-status{ background-position: -32px -321px; }
.bx-messenger-cl-status-idle .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-idle .bx-messenger-panel-avatar-status{ background-position: -32px -336px; }
.bx-messenger-cl-status-guest .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-guest .bx-messenger-panel-avatar-status{background-position: -17px -336px;}
.bx-messenger-cl-status-mobile .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-mobile .bx-messenger-panel-avatar-status{background-position: -17px -322px;}
.bx-messenger-cl-status-vacation .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-vacation .bx-messenger-panel-avatar-status{background-position: -47px -322px; position: relative;}
.bx-messenger-cl-status-writing .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-writing .bx-messenger-panel-avatar-status {background-position: -46px -306px; display: inline-block; border-radius: 8px;}

.bx-messenger-user-extranet { color: #fe9e09 !important; background: url("./images/im/sprite-v4.png") no-repeat scroll -87px -69px;padding-left: 18px;background-size:105px auto;}
.bx-messenger-user-extranet:hover { color:#ca7b00 }

.bx-messenger-cl-search { background-color: #c9c9ce;padding: 27px 7px 7px 11px; /*position: fixed;z-index: 2;width: calc(100% - 19px);top: 0px;   transform: translateZ(0px);*/}

.bx-messenger-cl-search-wrap:before {
	background: url("./images/im/sprite-v4.png") no-repeat scroll -24px -266px / 105px auto;
	background-size:105px auto;
	content:"";
	height: 18px;
	left: 20px;
	position:absolute;
	width: 14px;
	margin-top: 8px;
	display: block;
	margin-left: 15px;
}
.bx-messenger-cl-search-active .bx-messenger-cl { height: 391px; }
.bx-messenger-cl-search-active .bx-messenger-cl-search { background-position: 0 -343px;}
.bx-messenger-cl-search-wrap {
	background: #fff;
	border-radius: 6px;
	overflow: hidden;
	padding: 0 10px;
	padding-left: 28px;
}
.bx-messenger-cl-search-wrap .bx-messenger-input-close {
	position: absolute;right: 12px;	background-color: #fff;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
.bx-messenger-input {
	display: block;font: 13px/30px "Helvetica Neue", Helvetica, Arial, sans-serif; height: 30px; border: 0;outline:none;width: 100%;border-radius: 6px;margin: 0;padding: 0;
	outline:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

/* DIALOG */

.bx-messenger-dialog-wrap { padding-bottom: 17px;}

.bx-messenger-content { margin-top: 10px; margin-bottom: 14px;}

.bx-messenger-content-group {
	background: url("./images/im/sprite-v4.png") repeat-x scroll 23px -189px / 105px auto rgba(0, 0, 0, 0);
	background-size:105px auto;
	height: 19px;
	margin: 10px 0 18px 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	position: relative;
}
.bx-messenger-content-group-history {
	margin: 10px 14px 12px 57px;
}
.bx-messenger-content-group-link {
	margin-top: -17px;
	position: absolute;
}
.bx-messenger-content-group-title {
	background-color: #fff;
    color: #949595!important;
    display: inline-block;
    font: 14px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 18px;
    padding: 0 10px;
    text-shadow: 0 1px 1px #fff;
    vertical-align: top;
	text-decoration: none;
}
.bx-messenger-content-group-float .bx-messenger-content-group-title
{
	position: absolute;
	display: block;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 4px 15px 5px;
	border: 1px solid #eeeff0;
	border-radius: 31px;
	margin-top: 32px;
	z-index: 10;
}
.bx-messenger-content-item { margin-top: -8px; padding-top: 8px; padding-bottom: 8px; transition: background-color 2s; }
.bx-messenger-content-item-system {}
.bx-messenger-content-item-arrow {opacity: 1; transition: opacity 1.5s;  -webkit-animation: imOpacityTo1 1s 1; animation: imOpacityTo1 1s 1;
	background: url("./images/im/sprite-v4.png") no-repeat scroll -22px -173px / 105px auto rgba(0, 0, 0, 0);
	margin-top: 9px;
}
.bx-messenger-content-item-plus-like { box-shadow: 0 0 6px #5298ee!important; }


.bx-messenger-content-item-avatar { display: inline-block; float: right; margin-right: -45px; margin-left: 0; vertical-align: top;
	margin-top: 4px;
}
.bx-messenger-content-item-avatar-img { margin-left: -1px;
	background-color: #FFF;
	border-radius: 50%;
	display: inline-block; width: 25px; height: 25px;
	vertical-align: middle;  float: right;  }
.bx-messenger-content-item-avatar-img-default { background: url("./images/im/sprite-v4.png") no-repeat scroll -40px -1903px; background-size:105px auto; }
.bx-messenger-content-item-avatar-button { cursor: pointer }
.bx-messenger-content-item-arrow { width: 10px; height: 13px; display: block; margin-top: 9px; background: url("./images/im/sprite-v4.png") no-repeat scroll -22px -173px / 105px auto rgba(0, 0, 0, 0); background-size:105px auto; float: left;}
.bx-messenger-content-item-status { display: none; width: 17px; height: 17px;  float: left; margin-left: -40px;  margin-top: 8px;
	position: relative;
	z-index: 100;
}
.bx-messenger-content-item-quote { display:inline-block; opacity: 0; cursor: pointer; background: url("./images/im/sprite-v4.png") -55px -348px no-repeat; background-size:105px auto; width: 17px; height: 17px;  transition: opacity 0.5s;}
.bx-messenger-content-item-menu { display: inline-block;
	cursor: pointer;
	background: url("./images/im/sprite-v4.png") no-repeat scroll -168px -941px;
	width: 33px; height: 17px;  transition: opacity 0.5s;
	opacity: 0;
	margin-left: -51px;
	float: left;
	background-size:105px auto;
}
.bx-messenger-content-item:hover .bx-messenger-content-item-quote { opacity: 1 }
.bx-messenger-content-item:hover .bx-messenger-content-item-menu { opacity: 0.4 }
.bx-messenger-content-item:hover .bx-messenger-content-item-menu:hover,
.bx-messenger-content-item-menu-hover { opacity: 1!important; }
.bx-messenger-content-item-progress { display:inline-block; background: url("./images/im/sprite-v4.png") no-repeat scroll -36px -92px / 105px auto #ffffff; background-size:82px auto; width: 19px; height: 19px; -webkit-animation: imRotate360 1.2s linear infinite;
	position: relative; margin-left: -1px; } /* TODO */
.bx-messenger-content-item-progress-with-text { display:inline-block; height: 19px; width: auto; padding-left: 25px; color: #989898}
.bx-messenger-content-item-error { display: inline-block;  width: 29px; height: 29px; margin-left: -15px; margin-top: -7px;
	background-color: #f3f4f4;
	border-radius: 50%;
	cursor: pointer;
	-webkit-animation: imErrorButton 10s infinite; animation: 10s ease 0s normal none infinite running imErrorButton;
	position: relative;
	z-index: 200;
	margin-left: -6px;
}
.bx-messenger-content-item-error-icon { display: inline-block; background: url("./images/im/sprite-v4.png") no-repeat scroll 5px -203px / 105px auto transparent; background-size:105px auto; width: inherit; height: inherit; }
.bx-messenger-content-item-params { float: right;display: block; white-space: nowrap; }
.bx-messenger-content-item-date { float: right;display:block; font: 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif; color: #c2c4c7; text-align: right; padding-top: 1px; padding-left: 2px;}
.bx-messenger-content-item-like { float: right;display:block; font: 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif; color: #bac5cd; text-align: right; padding-top: 11px; padding-left: 4px;margin-right: -37px;white-space: nowrap;
	magin-top: -10px;
	margin-top: -10px;
	margin-bottom: -10px;
	padding-bottom: 10px;
}
.bx-messenger-content-like-digit { font: 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif; color: #b0b6be;display: inline-block;min-width: 17px;-moz-user-select:none; -khtml-user-select:none; -o-user-select:none; -webkit-user-select:none; user-select:none;
	position: relative;
	cursor: pointer;}
.bx-messenger-content-item-like-disable .bx-messenger-content-like-button,
.bx-messenger-content-like-digit-off { cursor: default; }
.bx-messenger-content-like-button {
	background: url("./images/im/sprite-v4.png") no-repeat scroll -88px -157px / 105px auto transparent;
	background-size:105px auto;
	cursor: pointer;
	display: inline-block;
	position: relative;
	vertical-align: top;
	line-height: 18px;
	padding-left: 49px;
	color: #c2c4c7;
	overflow: hidden;
	width: 0px;
}
.bx-messenger-content-item-content-progress .bx-messenger-content-item-like { opacity: 0 }
.bx-messenger-content-item-liked .bx-messenger-content-like-button {background-position: -88px -143px;}
.bx-messenger-content-item-liked .bx-messenger-content-like-digit,
.bx-messenger-content-item-2 .bx-messenger-content-item-liked .bx-messenger-content-like-digit { color: #f99500;}
.bx-messenger-content-item-2 .bx-messenger-content-like-button {color: #bac5cd;}
.bx-messenger-content-item-system .bx-messenger-content-item-liked .bx-messenger-content-like-digit { color: #378ad1;}
.bx-messenger-content-item-system .bx-messenger-content-like-button {color: #c6c8cb;}
.bx-messenger-content-item-text { float: left;}
.bx-messenger-history-item-text .bx-smile { vertical-align: text-bottom; }
.bx-messenger-content-item-text-center .bx-smile { vertical-align: text-bottom; }
.bx-messenger-content-item-text-wrap-append { -webkit-animation: imOpacityFrom05To1 2s 1; animation: imOpacityTo1 2s 1;  }
.bx-notifier-item-text .bx-smile { vertical-align: text-bottom; }
.bx-messenger-content-item-text-center { padding: 7px 0 8px; display: inline-block; font: 15px/19px "Helvetica Neue", Helvetica, Arial, sans-serif; word-wrap: break-word; width: 100%; vertical-align: middle;}
.bx-messenger-hr { font-size: 1px; border-top: 1px solid #fff; margin: 7px -2px;}
.bx-messenger-content-item-content {
	padding: 0 12px;
	display: block;
	margin: 0 38px;
	background-color: #f3f5f7;
	border: 1px solid #f3f5f7;
	border-radius: 8px;
	transition: background 2s, border 2s, box-shadow .5s;
}
.bx-messenger-content-item-content-progress .bx-messenger-content-item-status { display: inline-block;}
.bx-messenger-content-item-content-progress .bx-messenger-content-item-menu { display: none; }
.bx-messenger-content-item-2 .bx-messenger-content-item-avatar { float: left; margin-left: -44px; text-align: left;}
.bx-messenger-content-item-2 .bx-messenger-content-item-avatar-img { margin-left: 0; margin-right: -1px; float: left;}
.bx-messenger-content-item-2 .bx-messenger-content-item-arrow { float: right; background: url("./images/im/sprite-v4.png") no-repeat scroll -11px -173px / 105px auto rgba(0, 0, 0, 0); background-size:105px auto;}
.bx-messenger-content-item-2 .bx-messenger-content-item-status { float: right; margin-left: 0; margin-right: -53px;}
.bx-messenger-content-item-2 .bx-messenger-content-item-date { color: #bac5cd; }
.bx-messenger-content-item-2 .bx-messenger-content-like-digit {}
.bx-messenger-content-item-2 .bx-messenger-hr { border-top-color: #fff;}
.bx-messenger-content-item-2 .bx-messenger-content-item-menu { float: right; margin-left: 0; margin-right: -50px; }
.bx-messenger-content-item-2 .bx-messenger-content-item-content {background-color: #e8f7fe;border-color: #e8f7fe;}

.bx-messenger-content-item-system .bx-messenger-content-item-arrow { background-position: -34px -778px;}
.bx-messenger-content-item-system .bx-messenger-content-item-date { color: #c6c8cb; }
.bx-messenger-content-item-system .bx-messenger-hr { border-top-color: #fff;}
.bx-messenger-content-item-system .bx-messenger-content-item-content {background-color: #fff;border-color: #dfe2e5;}
.bx-messenger-content-item-system .bx-messenger-content-item-text-center {color: #7d7d7d}

.bx-messenger-content-item-new .bx-messenger-content-item-content {background-color: #fcf7dc !important;border-color: #fcf7dc !important;}
.bx-messenger-content-item-new .bx-messenger-content-item-arrow {opacity: 0!important;}
.bx-messenger-content-item-new .bx-messenger-content-item-date { color: #c9cabf; }
.bx-messenger-content-item-new .bx-messenger-content-like-button { color: #c9cabf; }

.bx-messenger-content-item-content-progress-error {background-color: #fcdcde!important;border-color: #fcdcde!important;}
.bx-messenger-content-item-content-progress-error .bx-messenger-content-item-arrow {opacity: 0!important;}
.bx-messenger-content-item-content-progress-error .bx-messenger-content-item-date { color: #fa6168; }
.bx-messenger-content-item-content-progress-error .bx-messenger-content-like-button { color: #fa6168; }

.bx-messenger-content-item-notify { padding-bottom: 0;}
.bx-messenger-content-item-notify .bx-messenger-content-item-content { border: 0;background: none;box-shadow: none;padding: 0;
	margin: 0 0 0 16px;
}
.bx-messenger-content-item-notify .bx-messenger-content-item-text-center {color: #acaeae; font-size: 12px; padding: 4px 0 0; }
.bx-messenger-content-item-notify-icon-writing { display: inline-block; background: url("./images/im/sprite-v4.png") no-repeat scroll 0 -129px / 105px auto transparent; background-size:105px auto; height: 17px; width: 21px; margin-right: 6px; vertical-align: middle;  }
.bx-messenger-content-item-notify-icon-writing:before { -webkit-animation: imWriting 1.6s linear infinite; animation: imWriting 1.6s linear infinite; background: url("./images/im/sprite-v4.png") no-repeat scroll 9px -112px / 105px auto rgba(0, 0, 0, 0);background-size:105px auto;content: ''; height: 17px;position: absolute;width: 22px;margin-top: 1px;}
.bx-messenger-content-item-notify-icon-readed { display: inline-block; background: url("./images/im/sprite-v4.png") no-repeat scroll -16px -86px / 105px auto transparent; background-size:105px auto; height: 9px; width: 21px; margin-right: 3px; vertical-align: middle;}

.bx-messenger-content-quote {padding: 0px 20px; display: inline-block;vertical-align: top;width: calc(100% - 40px);}
.bx-messenger-content-quote-wrap { border-left: 1px solid #c2c4c6; padding-left: 8px; font-size: 12px; color: #505050;
	padding-bottom: 2px;
	padding-top: 0;
}
.bx-messenger-content-quote-name { padding-bottom: 0px; font-size: 12px; color: #767a7e;
	padding-top: 1px;
}
.bx-messenger-content-quote-time { display: inline-block; padding-left: 5px; font-size: 11px;}
.bx-messenger-content-quote-icon { background: url("./images/im/sprite-v4.png") repeat scroll -22px -109px / 105px auto rgba(0, 0, 0, 0); background-size:105px auto; margin-left: -20px; display: inline-block; width: 20px; height: 15px; float: left;
	margin-top: 1px;
}


.bx-messenger-message {position: relative;}
.bx-messenger-message-edited:before {
 	background: url("./images/im/sprite-v4.png") no-repeat scroll 0px -114px / 105px auto rgba(0, 0, 0, 0);
	background-size:105px auto;
    content: '';
    height: 13px;
	left: -5px;
    position: absolute;
	width: 13px;
	margin-top: 4px;
	top: 0px;
}
.bx-messenger-message-edited .bx-messenger-content-quote:first-child { padding-left: 20px; }
.bx-messenger-message-edited .bx-messenger-file-image:first-child {
	vertical-align: top;
}
.bx-messenger-message-edited { padding-left: 11px; }
.bx-messenger-history-item .bx-messenger-message-edited { padding-left: 30px; }
.bx-messenger-message-deleted { font-style: italic; color: #7d7d7d; }
.bx-messenger-message-edited-anim { -webkit-animation: imOpacityTo1 1s 1; animation: imOpacityTo1 1s 1; }


.bx-messenger-clear { display: block; clear: both; font-size: 1px; line-height: 1px; height: 0;}



.bx-messenger-content-load, .bx-messenger-content-empty {text-align: center; padding-top: 170px;}
.bx-messenger-content-load-img { display: inline-block; width: 29px; height: 29px; background: url("./images/im/sprite-v4.png") no-repeat scroll -44px -116px / 105px auto rgba(0, 0, 0, 0); background-size:105px auto; -webkit-animation: imRotate360 1.2s linear infinite; animation: 1.2s linear 0s normal none infinite running imRotate360; }
.bx-messenger-content-load-text { display: inline-block;  height: 29px; font: 15px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; color:#606162;  vertical-align: top; padding-left: 5px;}
.bx-messenger-content-center { text-align: center; }
.bx-messenger-content-link { display: inline-block; margin-top: 8px; height: 17px; margin-bottom: 1px;  font: 12px/20px "Helvetica Neue",Helvetica,Arial,sans-serif!important; color: #777!important; text-decoration: none;  vertical-align: top}
.bx-messenger-content-link:hover { text-decoration: none;}
.bx-messenger-content-load-text:hover .bx-messenger-content-link { border-bottom: 1px dashed #777;}

.bx-messenger-content-item-liked .bx-messenger-content-like-digit, .bx-messenger-content-item-2 .bx-messenger-content-item-liked .bx-messenger-content-like-digit {color: #6a9cd9;
	color: #3881cc;
}


/* FILE */
.bx-messenger-body-dialog {}
.bx-messenger-file-dropzone {display: none; position: absolute; background: rgba(105,111,120,.85); z-index: 300; overflow: hidden; transition: opacity .4s; opacity: 0; width: 608px; height: 381px; border: 1px dashed #fff; }
.bx-messenger-file-dropzone-active { opacity: 1; }
.bx-messenger-file-dropzone-wrap { display: table-cell; width: inherit; height: inherit; vertical-align: middle; }
.bx-messenger-file-dropzone-icon { background: url("./images/im/sprite-v4.png") no-repeat 0 0; width: 29px; height: 39px; margin: 0 auto 11px; }
.bx-messenger-file-dropzone-text { margin: 0 auto; font: 19px "Helvetica Neue", Helvetica, Arial, sans-serif; color: #fff; text-align: center; }

.bx-messenger-textarea-file {background: url("./images/im/sprite-v4.png") no-repeat scroll -146px -1101px;cursor: pointer;height: 33px;margin-left: 16px;margin-top: 9px;opacity: 0.70;position: absolute;transition: opacity 0.3s ease-in 0s;width: 33px;border: 1px solid #ccc;border-radius: 50%;}
.bx-messenger-textarea-file-form { opacity: 0; position: relative; z-index: 200; }
.bx-messenger-textarea-file:hover, .bx-messenger-textarea-file-active { opacity: 1; border-color: #53a2fb;
}
.bx-messenger-textarea-file-active .bx-messenger-textarea-file-popup { display: block; }
.bx-messenger-textarea-file-popup-input { position: absolute; width: 100%; height: 33px; cursor: pointer;}
.bx-messenger-textarea-file-popup {display: none; position: absolute;background: none repeat scroll 0 0 #fff;border: 1px solid #cbdbde;border-color: #cbdbde #ccdade #c7d6da #c9d7dc;border-radius: 3px;box-shadow: 0 19px 24px rgba(88, 112, 118, 0.17), -1px 1px rgba(255, 255, 255, 0.75) inset;z-index: 200;margin-top: -83px;margin-left: -50px;}
.bx-messenger-textarea-file-popup-arrow {background: url("./images/im/sprite-v4.png") no-repeat scroll -150px -1147px;height: 15px;position: absolute;width: 30px;margin-left: 51px;}
.bx-messenger-textarea-file-light { display: none; }
.bx-messenger-textarea-file-popup .bx-messenger-popup-menu-item { z-index: 100; line-height: 26px;background: none repeat scroll 0 0 #fff !important;}

.bx-messenger-file-box {}
.bx-messenger-file-box-with-message { margin-top: 7px; }
.bx-messenger-file { border-top: 1px solid #dee7ef;margin-top: 4px; padding-top: 4px; }
.bx-messenger-file:first-child { border-top: 0; margin-top: 0; padding-top: 0; }
.bx-messenger-file-preview {}
.bx-messenger-file-image { display: inline-block;margin-top: 4px;}
.bx-messenger-file-image-src {display: table-cell; background: #fff;border-radius: 6px;  height: 119px; min-width: 88px;vertical-align: middle; text-align: center; font-size: 0; line-height: 0;overflow: hidden;} /* TODO */
.bx-bxu-proper-canvas {border-radius: 6px;}
.bx-messenger-file-image-text { max-width: 216px; max-height: 119px; background-color: #fff; }
.bx-messenger-file-attrs {}
.bx-messenger-file-title {font: bold 13px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;color: #0562b1;display: inline-block;}
.bx-messenger-file-title-href {}
.bx-messenger-file-size {font: 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;color: #777;margin-left: 7px;display: inline-block;}
.bx-messenger-file-download {margin-bottom: 5px;margin-top: -2px;}
.bx-messenger-file-download-link {font: 11px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;color: #63635c;cursor: pointer;margin-right: 10px;text-decoration: none;}
.bx-messenger-file-download-link:hover { color: #63635c; }
.bx-messenger-file-download-pc {}
.bx-messenger-file-download-disk {}
.bx-messenger-file-download-block { cursor: wait; }
.bx-messenger-file-progress {height: 6px; border: 1px solid #c1c1c1;width: 212px;background-color: #fff;margin: 4px 0;display: inline-block;vertical-align: top;border-radius: 5px;overflow: hidden;}
.bx-messenger-file-progress-line {height: inherit; width: 0;background-color: #2989da;display: inline-block;vertical-align: top;transition: width 1s;}
.bx-messenger-file-progress-infinite {height: inherit; width: inherit; display: inline-block;background: url("./images/im/sprite-v4.png") repeat-x scroll 0 -243px / 105px auto rgba(0, 0, 0, 0);-webkit-animation: imFileProgress .7s linear infinite; animation: imFileProgress .7s linear infinite;
	background-size: 105px;
}
.bx-messenger-file-status-error {margin-top: 2px;display: inline-block;font: 11px/13px "Helvetica Neue", Helvetica, Arial, sans-serif;color: #d31919;}
.bx-messenger-file-delete { display: none; width: 16px; height: 16px; background: url("./images/im/sprite-v4.png") -113px -1074px no-repeat; margin-left: 5px; cursor: pointer; }
.bx-messenger-file-user {}
.bx-messenger-file-author { display: none; }
.bx-messenger-file-date { display: none; }
.bx-messenger-file-menu { display: none; }

.bx-messenger-file-box-with-message .bx-messenger-file {}
.bx-messenger-content-item-2 .bx-messenger-file {border-top-color: #fff; }

/* RIGHT MENU */
.im-page-right .bx-messenger-cl-item-empty { color: #a9b1b8; }
.im-page-right .bx-messenger-cl-item { border-left:0; border-top-color: #3f464d;
	padding-left: 13px;
}
.im-page-right .bx-messenger-cl-item { border-left-color: #293139; background-color: #293139;border-top-color: #3f464d;
	padding-left: 13px;
}
.im-page-right .bx-messenger-cl-user { color: #fff; }
.im-page-right .bx-messenger-cl-avatar-img { background-color: #20262c;}
.im-page-right .bx-messenger-cl-status-vacation .bx-messenger-cl-user,
.im-page-right .bx-messenger-cl-status-offline .bx-messenger-cl-user { color: #d9dada }
.im-page-right .bx-messenger-cl-group-title {	color: #90989f; text-shadow: none; background-color: #20262; }
.im-page-right .bx-messenger-cl-group-open .bx-messenger-cl-group-title {color: #90989f;}
.im-page-right .bx-messenger-recent-wrap .bx-messenger-cl-user-desc { color: #a9b1b8; }
.im-page-right .bx-messenger-cl-search { background-color: #424f5b; }
.im-page-right .bx-messenger-cl-search-wrap, .im-page-right .bx-messenger-cl-search-wrap:before { background-color: #343f48;margin-left: 2px;background-position: -19px -533px;}
.im-page-right .bx-messenger-input { background-color: #343f48; color: #bebec4; }
.im-page-right .bx-messenger-cl-search-wrap .bx-messenger-input-close { background-color: #343f48;background-position: 6px -531px;}
.im-page-right .bx-messenger-recent-group, .im-page-right .bx-messenger-cl-group-title { background: #20262c; border-top: 1px solid #1a1e23; border-bottom: 1px solid #1a1e23;}
.im-page-right .bx-messenger-recent-group-title {color: #90989f;text-shadow: none;}
.im-page-right .bx-messenger-recent-group + .bx-messenger-cl-item { border-top-color: #293139;}
.im-page-right .bx-messenger-user-extranet { background-position: -90px -529px;}
.im-page-right .bx-messenger-cl-avatar-img-default { background-position: -42px -443px; }
.im-page-right .bx-messenger-cl-avatar-group .bx-messenger-cl-avatar-img-default { background-position: 0 -443px; }
.im-page-right .bx-messenger-cl-avatar-call .bx-messenger-cl-avatar-img-default { background-position: 0 -484px; }
.im-page-right .bx-messenger-cl-item-load {color: #a9b1b8;}
.im-page-right .bx-messenger-cl-item-active {background: #1e262b;}

/* FROM CACHE */
.im-page-from-cache .bx-messenger-cl-count { opacity: 0; }
.im-page-from-cache .bx-messenger-cl-status,
.im-page-from-cache .bx-messenger-panel-avatar-status{background-position: -17px -336px;}

/* ANIMATION */
@-webkit-keyframes imWriting {
	0% { background-position: 4px -113px; }
	20% { background-position: 7px -113px; -webkit-transform:rotate(-20deg);transform:rotate(-20deg); }
	35% { background-position: 7px -113px; -webkit-transform:rotate(0deg);transform:rotate(0deg); }
	50% { background-position: 5px -113px; -webkit-transform:rotate(-30deg);transform:rotate(-30deg); }
	65% { background-position: 7px -113px; -webkit-transform:rotate(0deg);transform:rotate(0deg); }
	80% { background-position: 10px -113px; }
	100% { background-position: 4px -113px; }
}
@keyframes imWriting {
	0% { background-position: 4px -113px; }
	20% { background-position: 7px -113px; -moz-transform:rotate(-20deg);transform:rotate(-20deg); }
	35% { background-position: 7px -113px; -moz-transform:rotate(0deg);transform:rotate(0deg); }
	50% { background-position: 5px -113px; -moz-transform:rotate(-30deg);transform:rotate(-30deg); }
	65% { background-position: 7px -113px; -moz-transform:rotate(0deg);transform:rotate(0deg); }
	80% { background-position: 10px -113px; }
	100% { background-position: 4px -113px; }
}
@-webkit-keyframes imFileProgress { 0% { background-position: 0 -243px; } 100% { background-position: 10px -243px; }}
@keyframes imFileProgress { 0% { background-position: 0 -243px; } 100% { background-position: 10px -243px; }}
@-webkit-keyframes imOpacityFrom05To1 { from { opacity: 0.5; } to { opacity: 1; } }
@keyframes imOpacityFrom05To1 { from { opacity: 0.5; } to { opacity: 1; } }
@-webkit-keyframes imErrorButton {0% { box-shadow: 0 1px 2px #858689; }40% { box-shadow: 0 1px 2px #858689;}50% { box-shadow: 0 1px 8px #858689;}60% { box-shadow: 0 1px 2px #858689;  }100% { box-shadow: 0 1px 2px #858689;  }}
@keyframes imErrorButton {0% { box-shadow: 0 1px 1px #858689; }40% { box-shadow: 0 1px 1px #858689;}50% { box-shadow: 0 1px 8px #858689;}60% { box-shadow: 0 1px 1px #858689;  }100% { box-shadow: 0 1px 1px #858689;  }}
@-webkit-keyframes imAvatarUpload {0% {-moz-transform:rotate(0deg);transform:rotate(0deg);}100% {	-moz-transform:rotate(360deg);transform:rotate(360deg);}}
@keyframes imAvatarUpload {0% {-moz-transform:rotate(0deg);transform:rotate(0deg);}100% {	-moz-transform:rotate(360deg);transform:rotate(360deg);}}
@-webkit-keyframes imEditAnimationClose {0% { opacity: 1; top: 0; }50% { opacity: 1;  }75% { opacity: 0; }100% { opacity: 0; top: -71px; }}
@keyframes imEditAnimationClose {0% { opacity: 1; top: 0; }50% { opacity: 1; }75% { opacity: 0;  }100% { opacity: 0; top: -71px; }}
@-webkit-keyframes imRotate360 {0% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}100% {	-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
@keyframes imRotate360 {0% {-moz-transform:rotate(0deg);transform:rotate(0deg);}100% {	-moz-transform:rotate(360deg);transform:rotate(360deg);}}

/* Media Query */
@media (min-width: 321px) {
	.bx-messenger-content-item-avatar-img {width: 34px;height: 34px;}
	.bx-messenger-content-item-arrow { margin-top: 12px; }
	.bx-messenger-content-item-text-center {font-size: 16px;}
	.bx-messenger-content-item-content { margin: 0 48px; }
	.bx-messenger-content-item-avatar {margin-right: -55px; margin-top: 0;}
	.bx-messenger-content-item-2 .bx-messenger-content-item-avatar {margin-left: -54px;}
}