<script type='text/ejs' id='detailEditCommentsBlock'>
    <div class="loader"><div class="loader-image"></div></div>
    <% if ((window.SCRUMBAN.isFeatureEnabled('taskDetails.comments') && this.canAddComment) || this.canAddElapsed) { %>
        <div class="comment addComment">
            <div class="person <%= user.getStatus() %>" <%
                if (user.noAvatar || !user.avatar) {
                    %>style="background-color: <%= user.avatarColor %>;" <%
                } else {
                    %>style='background-image: url("<%= user.bigAvatar %>")'<%
                }
                %>><span></span>
                <% if (user.noAvatar || !user.avatar) { %><%= user.avatarLetters %><% } %>
            </div>

            <div class="commentContent">
                <% if (this.canAddElapsed) { %>
                    <label class="time-logged">
                        <i></i>
                        <span class='worklog-ph jsWorklogPh'><?= $this->t('SPENT'); ?></span>
                        <input class="comment-worklog jsCommentTime"/>
                    </label>
                <% } %>
                <textarea></textarea>
            </div>
            <div class="files js-comment-files" id="jsCommentAddFiles">
                <div class="content"></div>
                <div class="upload" style="display: none;">
                    <form action="" method="post" enctype="multipart/form-data">
                        <input id="file_upload_comment" name="file_upload" type="file" multiple="true">
                        <div class="clear"></div>
                        <div id="queue"></div>
                    </form>
                </div>
            </div>
            <a class="button thin jsAddComment" href="#"><%= String._('WRITE') %></a>
            <a href="javascript:void(0);" class="comment-dropzone-toggler js-dropzone-toggler"><span><%= String._('UPLOAD_FILES') %></span></a>
            <div class="clear"></div>
        </div>
    <% } %>
</script>
