<script type='text/ejs' id='viewTypeMenu'>
    <a href="javascript:void(0)" class="popupOpener planningBoard"><i></i><span></span></a>
    <div class="popup typeMenuPopup">
        <a href='#' class="boardLink totalBoard"     data-type="totalKanban"><b></b><?= $this->t('TOTAL_TASK_BOARD') ?></a>
        <a href='#' class="boardLink taskBoard"     data-type="kanban"     ><b></b><?= $this->t('TASK_BOARD') ?></a>
        <a href='#' class="boardLink planningBoard" data-type="planning"   ><b></b><?= $this->t('PLANNING_BOARD') ?></a>
        <% if (!isExtranetUser && (window.SCRUMBAN.isFeatureEnabled('boards.projects') !== false)) { %><a href='#' class="boardLink projectsBoard" data-type="projects"><b></b><?= $this->t('PROJECTS_BOARD') ?></a><% } %>
    </div>
</script>
