<script type="text/ejs" id="changeableColumnHeaderTpl">
    <div>
        <h3><div class="columnMenu jsColumnMenuButton popupOpener feed-post-menu-but"></div><span title='<%= title %>'><%= title %></span></h3>
        <?/*<% if (title && title.length) { %>
            <hr/>
            <% if (window.SCRUMBAN.isFeatureEnabled('task.timeControl')) { %>
                <div class='miniblock hours' title='<?= $this->t('TIME_SPENT') ?>'>0/0</div>
            } %>
            <div class="columnTaskCounts"><%= (tasksMin != null) ? tasksMin : '0'  %><b><%= taskList.length %></b><%= (tasksMax != null) ? tasksMax : '&infin;' %></div>
        <% } %>*/?>
    </div>
</script>
