<script type="text/ejs" id="kanbanColumnDetailsEdit">
    <i class="close"><?= $this->t('DELETE') ?></i>
    <div class="shadow">
        <input class="styled titleInput" name="title" value="<%= title %>">
        <select name="taskStatus" <% if (this.taskList && taskList.length > 0) { %>disabled title="<?= $this->t('ERROR_CHANGE_STATUS_TASK_IN_COLUMN') ?>" <% } %>>
        <% if (window.SCRUMBAN.isFeatureEnabled('boards.kanban.boardSettings.columnEmptyStatus') !== false) { %>
            <option value=""><?= $this->t('DO_NOT_SET_STATUS') ?></option>
        <% } %>
        <% for (var i in window.SCRUMBAN.taskStatus) {
            i = parseInt(i, 10);
            if (!window.SCRUMBAN.taskStatus[i].endStatus && $.inArray(i, this.usedStatusList) == -1) {
            %><option value="<%= i %>" <% if (taskStatus == i) { %> selected="selected" <% } %> ><%= window.SCRUMBAN.taskStatus[i].title %></option><%
            }
        } %>
        </select>
        <div class="taskStats">
            <?= $this->t('FROM') ?> <input class="styled" name="tasksMin" value="<% if (tasksMin > 0 || tasksMax > 0) { %><%= tasksMin %><% }%>" maxlength="3" type="text">
            <?= $this->t('TO') ?> <input class="styled" name="tasksMax" value="<% if (tasksMin > 0 || tasksMax > 0) { %><%= tasksMax %><% }%>" maxlength="3" type="text">
            <?= $this->t('TASKS') ?>
        </div>
        <% if (window.SCRUMBAN.isFeatureEnabled('task.timeControl')) { %>
        <label title="<?= $this->t('COLUMN_TIME_INPUT_REQUIRED_TITLE'); ?>">
            <input type="checkbox" name="forceTime" value="forceTime" <%= (forceTime == 'Y') ? 'checked' : '' %>>
            <?= $this->t('COLUMN_TIME_INPUT_REQUIRED') ?>
        </label>
        <% } %>

        <div class="checklist jsDodList"></div>

        <div class="clear"></div>
        <div class="thin-green-button jsColumnSave"><?= $this->t('OK') ?></div>
        <a class="cancelLink jsColumnCancel"><?= $this->t('CANCEL') ?></a>
    </div>
</script>
